<div class="text-m f-f-r py-2 pl-6">
  <div class="flex items-center">
    <div class="inline-flex items-center checkbox {{ exposureRiskType }}">
      <input
        type="checkbox"
        class="h-5 w-5 text-blue-600"
        [checked]="shown$ | async"
        (click)="toggleShown()"
        name="input-{{ exposureRiskType }}"
      />
    </div>
    <div class="flex flex-col ml-3">
      <div class="text-lg f-f-r capitalize">
        {{ exposureRiskType | replace: '-':' ' | titlecase }}
      </div>
    </div>
  </div>
</div>
