ul li.barangay {
  color: #9ea9f0;
}
ul li.private_school {
  color: #ff87ca;
}
ul li.hospital {
  color: #cd6d7d;
}
ul li.university {
  color: #54bab9;
}
ul li.health {
  color: #f7d59c;
}
ul li.elementary_school {
  color: #b983ff;
}
ul li.high_school {
  color: #6e85b7;
}
