<div class="py-2 max-w-xl w-full flex flex-row">
  <div class="w-auto md:mt-0 items-center flex">
    <img class="h-auto w-16" src="assets/images/population.png" alt="flood" />
  </div>
  <div class="w-5/6 pl-3">
    <div class="text-black font-bold text-3xl">4,542,926</div>
    <small class="text-gray-500">Estimated Total Population</small>
  </div>
</div>

<div class="mx-auto w-full">
  <div class="grid grid-cols-3 grid-rows-2 gap-x-4 gap-y-2">
    <div class="box row-span-2 col-span-2">
      <div id="population-dom" class="population"></div>
    </div>
    <div class="box">
      <div id="age-dom"></div>
    </div>
    <div class="box">3</div>
  </div>
</div>
