<div class="bg-white text-green-800 grid grid-cols-2 gap-2">
  <div class="bg-white rounded p-5">
    <div class="py-2 max-w-xl w-full flex flex-row">
      <div class="w-auto md:mt-0 items-center flex">
        <img
          class="h-auto w-16"
          src="assets/images/population.png"
          alt="flood"
        />
      </div>
      <div class="w-5/6 pl-3">
        <div class="text-black font-bold text-3xl">
          {{ generalTotalPopulation }}
        </div>
        <small class="text-gray-500">Estimated Total Population</small>
      </div>
    </div>
  </div>
  <div class="bg-white rounded p-5">
    <div
      id="population-dom"
      style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"
      class="population"
    ></div>
  </div>
  <div class="bg-white rounded p-5">
    <div
      id="age-dom"
      style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"
    ></div>
  </div>
  <div class="bg-white rounded p-5">
    <div
      id="gender-dom"
      style="min-width: 310px; height: 350px; max-width: 600px; margin: 0 auto"
    ></div>
  </div>
</div>
