<div>
  <div class="flex flex-col ml-8">
    <div class="text-lg f-f-r mb-2">Legend</div>
    <div class="flex items-center mb-1">
      <label class="inline-flex items-center">
        <div class="h-6 w-6 mx-auto rounded-md bg-high"></div>
      </label>
      <div class="flex flex-col ml-3">
        <div class="text-m leading-none">High</div>
      </div>
    </div>
    <div class="flex items-center mb-1">
      <label class="inline-flex items-center">
        <div class="h-6 w-6 mx-auto rounded-md bg-medium"></div>
      </label>
      <div class="flex flex-col ml-3">
        <div class="text-m leading-none">Medium</div>
      </div>
    </div>

    <div class="flex items-center mb-1">
      <label class="inline-flex items-center">
        <div class="h-6 w-6 mx-auto rounded-md bg-low"></div>
      </label>
      <div class="flex flex-col ml-3">
        <div class="text-m leading-none">Low</div>
      </div>
    </div>
  </div>

  <div class="flex flex-col ml-8">
    <div class="text-m f-f-r">Choose Color</div>
    <div class="flex items-center">
      <div>
        <div
          class="
            grid
            gap-1
            grid-cols-3
            sm:grid-cols-6
            md:grid-cols-6
            lg:grid-cols-6
          "
        >
          <div>
            <div
              class="h-6 w-6 mx-auto rounded-md bg-color1"
              role="button"
            ></div>
          </div>
          <div>
            <div
              class="h-6 w-6 mx-auto rounded-md bg-color2"
              role="button"
            ></div>
          </div>
          <div>
            <div
              class="h-6 w-6 mx-auto rounded-md bg-color3"
              role="button"
            ></div>
          </div>
          <div>
            <div
              class="h-6 w-6 mx-auto rounded-md bg-color4"
              role="button"
            ></div>
          </div>
          <div>
            <div
              class="h-6 w-6 mx-auto rounded-md bg-color5"
              role="button"
            ></div>
          </div>
          <div>
            <div class="h-6 w-6 mx-auto rounded-md bg-high" role="button"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
