<!-- <div class="px-6 flex justify-around items-center">
    <button
      class="
        text-xs
        font-bold
        bg-blue-600
        rounded-full
        px-10
        py-2
        my-4
        inline-flex
        items-center
        justify-center
        text-white
        focus:outline-none
        mx-auto
        lg:mx-0
        tracking-widest
        hover:bg-blue-700
        focus:ring-opacity-50
        border-2
      "
     (click)="viewSummary()"
    >
      Calculate Risk
    </button>
  </div>
    *ngIf="summaryModal"-->
<!-- MODAL -->
<div
  class="relative z-50"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  *ngIf="riskModal"
>
  <div
    class="fixed inset-0 bg-black opacity-80 transition-opacity"
    (click)="closeModal()"
  ></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full justify-center p-4 text-center items-center">
      <div
        class="
          relative
          transform
          overflow-hidden
          rounded-lg
          bg-blue-50
          px-4
          py-4
          text-left
          shadow-xl
          transition-all
          sm:my-8 sm:w-full sm:max-w-screen-lg
        "
      >
        <div class="bg-blue-50 px-4 pt-5">
          <div
            class="
              absolute
              top-0
              right-0
              cursor-pointer
              flex flex-col
              items-center
              mt-4
              mr-4
              text-white text-sm
              z-50
            "
          >
            <svg
              class="fill-current text-black"
              (click)="closeModal()"
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 18 18"
            >
              <path
                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
              ></path>
            </svg>
          </div>
        </div>

        <div class="mt-3 text-center">
          <div class="text-center mb-2">
            <h1 class="font-bold text-m lg:text-2xl text-gray-900">
              In the event of a Flood 100-year return period in Panay Island,
              how many people might be affected and need evacuation?
            </h1>
          </div>
        </div>

        <nav class="tab-navigation">
          <ul>
            <li
              (click)="this.active_status = 1"
              [ngClass]="
                active_status == 1
                  ? 'text-sm border-indigo-700 pt-3 rounded-t text-indigo-700 mr-12'
                  : 'text-sm text-gray-600 py-3 flex items-center mr-12 hover:text-indigo-700 cursor-pointer'
              "
            >
              <label for="select-tab-summary">
                <div class="flex items-center mb-3">
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-home"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" />
                      <polyline points="5 12 3 12 12 3 21 12 19 12" />
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                      <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                    </svg>
                  </span>
                  <span class="ml-1 font-normal">{{
                    active_status == 1 ? 'Summary' : 'Summary'
                  }}</span>
                </div>
              </label>
              <div
                *ngIf="active_status == 1"
                class="w-full h-1 bg-indigo-700 rounded-t-md"
              ></div>
            </li>

            <li
              (click)="this.active_status = 2"
              [ngClass]="
                active_status == 2
                  ? 'text-sm border-indigo-700 pt-3 rounded-t text-indigo-700 mr-12'
                  : 'text-sm text-gray-600 py-3 flex items-center mr-12 hover:text-indigo-700 cursor-pointer'
              "
            >
              <label for="select-tab-needs">
                <div class="flex items-center mb-3">
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-eye"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" />
                      <circle cx="12" cy="12" r="2" />
                      <path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2" />
                      <path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2" />
                    </svg>
                  </span>
                  <span class="ml-1 font-normal">{{
                    active_status == 2 ? 'Needs' : 'Needs'
                  }}</span>
                </div>
              </label>
              <div
                *ngIf="active_status == 2"
                class="w-full h-1 bg-indigo-700 rounded-t-md"
              ></div>
            </li>
          </ul>
        </nav>

        <section>
          <article class="tab-1">
            <input
              type="radio"
              name="tab-indicator"
              id="select-tab-summary"
              class="tab-indicator"
              checked="checked"
            />
            <div class="tab-content">
              <strong>[TAB 1]</strong> Lorem ipsum et dolor sic amet...
            </div>
          </article>

          <article class="tab-2">
            <input
              type="radio"
              name="tab-indicator"
              id="select-tab-needs"
              class="tab-indicator"
            />
            <div class="tab-content">
              <strong>[TAB 2]</strong> Lorem ipsum et dolor sic amet...
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- alert -->

<!-- alert -->
