<div class="text-m f-f-r py-2 pl-4">
  <div class="flex items-center">
    <div class="inline-flex items-center checkbox {{ boundariesType }}">
      <input
        type="checkbox"
        class="h-5 w-5 text-blue-600"
        [checked]="shown"
        (click)="toggleShown()"
        name="input-{{ boundariesType }}"
      />
    </div>
    <div class="flex flex-col ml-3">
      <div class="text-lg f-f-r capitalize">
        {{ boundariesType | replace: '-':' ' | titlecase }}
      </div>
    </div>
  </div>

  <div class="flex items-center pt-4">
    <noah-slider
      label="Opacity"
      [initialValue]="initialOpacityValue"
      (valueChange)="changeOpacity($event)"
    ></noah-slider>
  </div>
  <div class="flex items-center pt-4">
    <div class="flex flex-col ml-8">
      <div class="text-lg f-f-r mb-2">Legend</div>
      <div class="flex items-center mb-1">
        <label class="inline-flex items-center">
          <!-- <img src="if legend is img" /> -->
        </label>
        <div class="items-center justify-between w-12">
          <div class="w-12 items-start rounded bg-transparent">
            <div
              class="
                w-12
                h-5
                dark:bg-gray-800
                border-2 
                {{
                boundariesType === 'barangay'
                  ? 'border-dashed border-purple-700'
                  : boundariesType === 'municipal'
                  ? 'border-solid border-purple-700'
                  : boundariesType === 'provincial'
                  ? 'border-solid border-black'
                  : ''
              }}
                rounded
              "
            ></div>
          </div>
        </div>
        <!-- <div class="flex flex-col ml-3">
            <div class="text-m leading-none capitalize">{{ displayName }}</div>
          </div> -->
      </div>
    </div>
  </div>
</div>
