<div class="font-bold text-xl pb-4 uppercase">Critical Facilities</div>
<div class="w-full md:w-1/1 xl:w-1/1 p-3">
  <!--Metric Card-->
  <div class="bg-white border rounded shadow p-2">
    <div class="flex flex-row items-center">
      <div class="flex-shrink pr-4">
        <div class="rounded p-0">
          <a class="flex max-w-xs p-2 items-center">
            <img src="assets/icons/fire.png" alt="" />
          </a>
        </div>
      </div>
      <div class="flex-1 text-right md:text-left">
        <h5 class="font-bold uppercase">Fire Station</h5>
        <h3 class="font-medium text-xs">5km away • Fire station address</h3>
      </div>
    </div>
  </div>
  <!--/Metric Card-->
</div>

<div class="w-full md:w-1/1 xl:w-1/1 p-3">
  <!--Metric Card-->
  <div class="bg-white border rounded shadow p-2">
    <div class="flex flex-row items-center">
      <div class="flex-shrink pr-4">
        <div class="rounded p-2">
          <a class="flex max-w-xs p-0 items-center">
            <img src="assets/icons/hospi.png" alt="" />
          </a>
        </div>
      </div>
      <div class="flex-1 text-right md:text-left">
        <h5 class="font-bold uppercase">Hospital</h5>
        <h3 class="font-thin text-xs">5km away • Hospital address</h3>
      </div>
    </div>
  </div>
  <!--/Metric Card-->
</div>

<div class="w-full md:w-1/1 xl:w-1/1 p-3">
  <!--Metric Card-->
  <div class="bg-white border rounded shadow p-2">
    <div class="flex flex-row items-center">
      <div class="flex-shrink pr-4">
        <div class="rounded p-2">
          <a class="flex max-w-xs p-0 items-center">
            <img src="assets/icons/police.png" alt="" />
          </a>
        </div>
      </div>
      <div class="flex-1 text-right md:text-left">
        <h5 class="font-bold uppercase">police station</h5>
        <h3 class="font-thin text-xs">5km away • Police station address</h3>
      </div>
    </div>
  </div>
  <!--/Metric Card-->
</div>

<div class="w-full md:w-1/1 xl:w-1/1 p-3">
  <!--Metric Card-->
  <div class="bg-white border rounded shadow p-2">
    <div class="flex flex-row items-center">
      <div class="flex-shrink pr-4">
        <div class="rounded p-2">
          <a class="flex max-w-xs p-0 items-center">
            <img src="assets/icons/school.png" alt="" />
          </a>
        </div>
      </div>
      <div class="flex-1 text-right md:text-left">
        <h5 class="font-bold uppercase">elementary school</h5>
        <h3 class="font-thin text-xs">5km away • Elementary School address</h3>
      </div>
    </div>
  </div>
  <!--/Metric Card-->
</div>

<noah-pra-nav
  [currentPageIdx]="4"
  [pageLength]="5"
  prevRoute="../storm-surge"
></noah-pra-nav>
