<div
  class="
    min-w-screen
    h-screen
    animated
    fadeIn
    faster
    fixed
    left-0
    top-0
    flex
    justify-center
    items-center
    inset-0
    z-50
    outline-none
    focus:outline-none
    bg-no-repeat bg-center bg-cover
  "
  id="modal"
  *ngIf="disclaimerModal"
>
  <div
    class="absolute bg-black opacity-80 inset-0 z-0"
    (click)="closeModal()"
  ></div>
  <!--content-->
  <div class="min-w-screen min-h-screen flex items-center z-10 justify-center">
    <div
      class="
        flex
        items-center
        justify-center
        fixed
        left-0
        bottom-0
        w-full
        h-full
      "
    >
      <div
        id="modal"
        class="
          container
          mx-auto
          flex
          justify-center
          items-center
          px-4
          md:px-10
          py-20
        "
      >
        <div class="flex flex-col items-start p-4">
          <div
            class="
              bg-white
              rounded-lg
              px-3
              md:px-4
              py-7
              flex flex-col
              justify-center
              items-center
            "
          >
            <svg
              class="ml-auto fill-current text-gray-700 w-6 h-6 cursor-pointer"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 18 18"
              (click)="closeModal()"
            >
              <path
                d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
              />
            </svg>
            <div role="img" aria-label="Dashboard. Logo.">
              <div class="flex items-center w-full justify-center">
                <div class="flex flex-row space-x-8 mb-4">
                  <button
                    class="
                      max-w-xs
                      rounded-full
                      flex
                      items-center
                      text-sm
                      focus:outline-none
                      relative
                    "
                  >
                    <img
                      class="h-10 w-10 sm:h-16 sm:w-16"
                      src="assets/icons/qclogo.png"
                      alt="qc logo"
                    />
                  </button>
                  <button
                    class="
                      max-w-xs
                      rounded-full
                      flex
                      items-center
                      text-sm
                      focus:outline-none
                      relative
                    "
                  >
                    <img
                      class="h-10 w-10 sm:h-16 sm:w-16 rounded-full"
                      src="assets/icons/up.png"
                      alt="up logo"
                    />
                  </button>
                  <button
                    class="
                      max-w-xs
                      rounded-full
                      flex
                      items-center
                      text-sm
                      focus:outline-none
                      relative
                    "
                  >
                    <img
                      class="h-10 w-10 sm:h-16 sm:w-16 rounded-full"
                      src="assets/icons/upri.png"
                      alt="upri logo"
                    />
                  </button>
                  <button
                    class="
                      max-w-xs
                      flex
                      items-center
                      text-sm
                      focus:outline-none
                      relative
                    "
                  >
                    <img
                      class="h-16 w-16 sm:h-24 sm:w-24"
                      src="assets/icons/logo-noah.svg"
                      alt="noah logo"
                    />
                  </button>
                </div>
              </div>
            </div>
            <div class="overflow-y-auto overflow-auto h-96 px-2 md:px-12">
              <h1
                class="
                  mt-2
                  md:mt-12
                  text-xl
                  lg:text-4xl
                  font-semibold
                  leading-10
                  text-gray-800 text-center
                  md:w-full
                  lg:w-full
                "
              >
                Internet of Thing (IoT)
              </h1>
              <p
                class="
                  mt-5
                  text-xs
                  sm:text-base
                  leading-normal
                  text-left text-gray-600
                  md:w-full
                  lg:w-full
                "
              >
                This feature, the
                <span class="italic text-black">Internet of Things (IoT)</span>,
                is a pilot project of UP Resilience Institute with the local
                government of Quezon City.
              </p>
              <p
                class="
                  mt-2
                  text-xs
                  sm:text-base
                  leading-normal
                  text-left text-gray-600
                  md:w-full
                  lg:w-full
                "
              >
                The data on public government facilities are shared by the
                Quezon City Government with the UP Resilience Institute for the
                purpose of disseminating calamity-related information displayed
                in UP-NOAH and in the Quezon City Government website.
              </p>
              <p
                class="
                  mt-2
                  text-xs
                  sm:text-base
                  leading-normal
                  text-left text-gray-600
                  md:w-full
                  lg:w-full
                "
              >
                The flood hazard simulations for Quezon City as displayed on
                this website are conducted for the purpose of the formulation of
                the City’s Drainage Master Plan. Contents, data, and information
                generated by IoT weather and flood sensors deployed by the
                Quezon City Government are exclusive property of Quezon City.
              </p>
              <p
                class="
                  mt-2
                  text-xs
                  sm:text-base
                  leading-normal
                  text-left text-gray-600
                  md:w-full
                  lg:w-full
                "
              >
                The information provided by the QC LGU on the NOAH website is
                for general information purposes only. All data, contents and
                functionalities on the sire are provided in good faith. The QC
                LGU makes no representation or warranty of any kind, regarding
                the completeness and accuracy of data/information in the UP-NOAH
                website. The QC LGU is not liable for any loss or damage
                attributed to the use and reliance on any information found on
                the said website.
              </p>
              <button
                class="
                  flex
                  ml-auto
                  fill-current
                  text-gray-700
                  cursor-pointer
                  justify-end
                  italic
                  sm:text-base
                  text-xs text-primary
                "
                *ngIf="hideSeemore"
                (click)="showContent()"
              >
                See more...
              </button>
              <div *ngIf="contentFlow">
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-left text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  Moreover, the process of gathering information displayed in
                  this website is subject to the intellectual property rights of
                  the Quezon City Government and the UP Resilience Institute and
                  therefore cannot be utilized, in whole or in part, without
                  their prior consent or authorization
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-left text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  This initiative is in consonance with Republic Act No. 10121
                  or the Philippine Disaster Risk Reduction and Management Act
                  2010 which requires Local Government Units to provide
                  precautionary measures, raise public awareness and induce
                  preparedness to its constituents against natural calamities
                  and disasters. Section 12, (c) of RA No. 10121 provides:
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-left text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  “Section 12. Local Disaster Risk Reduction and Management
                  Office (LDRRMO).
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-left text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  (c) The provincial, city and municipal DRRMOs of BDRRMCs
                  (Barangay) shall perform the following functions with
                  impartiality given the emerging challenges brought by
                  disasters of our times:
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-center text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  (3) Consolidate local disaster risk information which includes
                  natural hazards, vulnerabilities, and cllimate change risks,
                  and maintain a local risk map;
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-center text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  XXX
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-center text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  (5) Operate a multi-hazard early warning system, linked to
                  disaster risk reduction to provide accurate and timely advice
                  to national or local emergency response organizations and to
                  the general public, through diverse mass media, particularly
                  radio, landline communications, and technologies for
                  communication within rural communities;
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-center text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  XXX
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-center text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  (9) Identify, assess and manage the hazards vulnerabilities
                  and risks that may occur in their locality;
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-center text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  XXX
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-center text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  (10) Disseminate information and raise public awareness about
                  those hazards, vulnerabilities and risks, their nature,
                  effects, early warning signs and countermeasures;”
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-center text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  Moreover, Section 7, Rule 6 of Implementing Rules and
                  Regulations of Republic Act No. 10121 provides:
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-left text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  Section 7, Rule 6 -
                </p>
                <p
                  class="
                    mt-2
                    text-xs
                    sm:text-base
                    leading-normal
                    text-left text-gray-600
                    md:w-full
                    lg:w-full
                  "
                >
                  “Information and Public awareness on Hazards, Vulnerabilities
                  and Risks - Each LGU shall provide an area within its
                  jurisdiction where hazard maps and contingency plans for major
                  hazards anre prominently displayed. In addition, information
                  shall also be disseminated through the internet and printed
                  materials such as newsletters, brochures and pamphlets.”
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
