<div class="my-0 py-2">
  <div class="block">
    <div class="tab w-full overflow-hidden border-t">
      <input
        class="absolute opacity-0"
        id="tab-multi-three"
        type="checkbox"
        name="tabs"
      />
      <label
        class="font-bold uppercase block p-5 leading-normal cursor-pointer"
        for="tab-multi-three"
        >Landslide</label
      >
      <div class="tab-content overflow-hidden bg-gray-100 leading-normal">
        <div class="my-2 text-xs uppercase px-8">
          <div
            class="font-bold text-gray-800 text-xs mb-1 title-font uppercase"
          >
            Hazards Type
          </div>
          <div class="flex flex-col">
            <span class="inline-flex items-center mt-1">
              <input
                id="landslide-hazard"
                type="radio"
                class="h-4 w-4 text-red-600"
                [checked]="
                  'landslide-hazard' === (currentLandslideHazards$ | async)
                "
                (click)="viewLandslideHazards('landslide-hazard')"
              />
              <label for="landslide-hazard" class="ml-2 text-gray-700"
                >Landslide Hazards</label
              >
            </span>
            <span class="inline-flex items-center mt-1">
              <input
                id="alluvial-fan-hazard"
                type="radio"
                class="h-4 w-4 text-red-600"
                [checked]="
                  'alluvial-fan-hazard' === (currentLandslideHazards$ | async)
                "
                (click)="viewLandslideHazards('alluvial-fan-hazard')"
              />
              <label for="alluvial-fan-hazard" class="ml-2 text-gray-700"
                >Alluvial Fan Hazards</label
              >
            </span>
            <span class="inline-flex items-center mt-1">
              <input
                id="unstable-slopes-maps"
                type="radio"
                class="h-4 w-4 text-red-600"
                [checked]="
                  'unstable-slopes-maps' === (currentLandslideHazards$ | async)
                "
                (click)="viewLandslideHazards('unstable-slopes-maps')"
              />
              <label for="unstable-slopes-maps" class="ml-2 text-gray-700"
                >Unstable Slopes Maps</label
              >
            </span>
          </div>
          <div class="mt-2 text-xs uppercase">
            <span class="font-bold text-gray-800 text-xs mb-1 title-font"
              >Legend</span
            >
            <div>
              <label class="inline-flex items-center">
                <div class="box-border h-4 w-4 p-2 border-1 bg-high"></div>
                <span class="ml-2">High</span>
              </label>
            </div>
            <div>
              <label class="inline-flex items-center">
                <div class="box-border h-4 w-4 p-2 border-1 bg-medium"></div>
                <span class="ml-2">Medium</span>
              </label>
            </div>
            <div>
              <label class="inline-flex items-center">
                <div class="box-border h-4 w-4 p-2 border-1 bg-low"></div>
                <span class="ml-2">Low</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
