#map {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.mapboxgl-popup-close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  width: 15px;
  font-size: 15px;
}
