#map {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.mapboxgl-popup-close-button {
  z-index: 1;
  font-size: 20px;
  right: 5px;
}
.distance-container {
  position: absolute;
  top: 216px;
  right: 47px;
  z-index: 1;
}

.distance-container > * {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
}
.area-container {
  position: absolute;
  top: 174px;
  right: 50px;
  z-index: 1;
  margin-right: 3px;
}

.base-icon {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.area-container > * {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
}

.map-icon {
  top: 278px;
}

.coords {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 338px;
  right: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}
