<div id="map"></div>

<div id="distance" class="distance-container"></div>
<div id="area" class="area-container"></div>

<div
  id="graph-dom"
  hidden
  class="relative overflow-hidden z-0 text-left lh"
  style="
    width: 950px;
    height: 450px;
    line-height: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
  "
></div>
<div
  id="earthquake-dom"
  hidden
  class="relative overflow-hidden z-0 text-left lh"
  style="
    line-height: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
  "
>
  <div class="w-auto">
    <div class="justify-center items-center">
      <div
        id="earthquakeAlert"
        class="flex items-center border-b justify-center px-6 py-3"
      >
        <p class="text-sm lg:text-xl font-semibold leading-tight text-white">
          Earthquake Alert
        </p>
      </div>
      <div
        class="
          flex
          items-center
          border-b border-gray-200
          justify-center
          px-6
          py-3
        "
      >
        <p class="text-sm lg:text-xl font-semibold leading-tight text-gray-700">
          RShake Station: {{ rshakeName }}
        </p>
      </div>
      <div
        class="
          flex
          items-center
          border-b border-gray-200
          justify-center
          px-6
          py-3
        "
      >
        <p class="text-sm lg:text-xl font-semibold leading-tight text-gray-700">
          Floor {{ floorNum }}
        </p>
      </div>

      <!-- Table -->
      <div class="w-full max-w-2xl mx-auto">
        <div class="p-0">
          <div class="overflow-x-auto">
            <table class="table-auto w-full">
              <thead
                class="text-xs font-semibold uppercase text-black bg-gray-50"
              >
                <tr>
                  <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-left">Direction</div>
                  </th>
                  <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-left">Displacement</div>
                  </th>
                  <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-left">Acceleration</div>
                  </th>
                  <th class="p-2 whitespace-nowrap">
                    <div class="font-semibold text-center">% Drift</div>
                  </th>
                </tr>
              </thead>
              <tbody class="text-sm divide-y divide-gray-100">
                <tr
                  *ngFor="let data of eqDatas"
                  [ngClass]="{
                    'bg-noah-green-high':
                      (data.direction === 'Z - Axis (ENZ)' ||
                        (data.direction === 'X - Axis (ENE)' &&
                          data.axis_with_max_drift === 'x') ||
                        (data.direction === 'Y - Axis (ENN)' &&
                          data.axis_with_max_drift === 'y')) &&
                      data.alert_level === 0,
                    'bg-noah-red-medium':
                      (data.direction === 'Z - Axis (ENZ)' ||
                        (data.direction === 'X - Axis (ENE)' &&
                          data.axis_with_max_drift === 'x') ||
                        (data.direction === 'Y - Axis (ENN)' &&
                          data.axis_with_max_drift === 'y')) &&
                      data.alert_level === 1,
                    'bg-noah-red-high':
                      (data.direction === 'Z - Axis (ENZ)' ||
                        (data.direction === 'X - Axis (ENE)' &&
                          data.axis_with_max_drift === 'x') ||
                        (data.direction === 'Y - Axis (ENN)' &&
                          data.axis_with_max_drift === 'y')) &&
                      data.alert_level === 2
                  }"
                >
                  <td class="p-2 whitespace-nowrap">
                    <div class="flex items-center">
                      <div class="font-medium text-gray-800">
                        {{ data.direction }}
                      </div>
                    </div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="text-left">
                      {{ data.displacement.toFixed(4) }}cm
                    </div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="text-left font-medium">
                      {{ data.acceleration.toFixed(4) }}cm/s
                    </div>
                  </td>
                  <td class="p-2 whitespace-nowrap">
                    <div class="font-medium text-center">
                      {{ data.drift.toFixed(4) }}%
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="grid-cols-2 border border-black text-center px-6 py-3 mt-5">
        <p class="text-sm lg:text-xl font-semibold leading-tight text-gray-700">
          Relay Status: ERROR
        </p>
        <p class="text-xs text-black">Unable to contact Arduino unit.</p>
      </div>
    </div>
  </div>
</div>

<div
  class="top-48 absolute z-10 right-0 mt-2 pl-2 h-14 w-14 flex flex-row py-2"
>
  <div class="p-2">
    <div class="inline-block relative group">
      <div class="border bg-white text-gray-500 shadow rounded flex flex-col">
        <button
          class="
            py-1
            px-1
            flex
            items-center
            justify-center
            focus:outline-none
            border-b
            hover:bg-gray-300
          "
          (click)="calculateDistance()"
        >
          <img class="w-44 inline-block" src="assets/icons/distance.svg" />
        </button>
        <button
          class="
            py-1
            px-1
            flex
            items-center
            justify-center
            focus:outline-none
            border-b border-indigo-100
            hover:bg-gray-300
          "
        >
          <img
            class="w-44 inline-block"
            src="assets/icons/delete-distance.svg"
            (click)="clearDistance()"
          />
        </button>
      </div>
    </div>
  </div>
</div>

<div class="top-72 absolute z-10 right-0 pl-2 h-16 w-16 flex flex-row py-4">
  <div class="p-2">
    <div class="dropdown inline-block relative">
      <button
        class="
          bg-white
          text-gray-800
          font-semibold
          py-1
          px-1
          ml-2
          rounded
          inline-flex
          items-center
          hover:bg-gray-200
          focus:outline-none
          focus:ring-2
          focus:ring-gray-600
          focus:ring-opacity-50
        "
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7"
          />
        </svg>
      </button>
      <ul
        class="
          dropdown-menu
          rounded-lg
          shadow-2xl
          drop-shadow-xl
          bg-white
          right-9
          bottom-0
          absolute
          hidden
          text-sm text-gray-700
        "
      >
        <li class="">
          <a
            class="
              rounded-lg
              block
              px-4
              py-2
              text-sm
              leading-5
              text-gray-700
              transition
              duration-150
              ease-in-out
              hover:bg-gray-100
              focus:outline-none focus:bg-gray-100
            "
            role="button"
            (click)="switchMapStyle('terrain')"
            >Terrain</a
          >
        </li>
        <li class="">
          <a
            class="
              rounded-lg
              block
              px-4
              py-2
              text-sm
              leading-5
              text-gray-700
              transition
              duration-150
              ease-in-out
              hover:bg-gray-100
              focus:outline-none focus:bg-gray-100
            "
            role="button"
            (click)="switchMapStyle('satellite')"
            >Satellite</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- //Customizing Mapbox attribution -->
<div class="mapboxgl-ctrl-bottom-right hidden md:block">
  <div class="mapboxgl-ctrl mapboxgl-ctrl-attrib">
    <button
      class="mapboxgl-ctrl-attrib-button"
      type="button"
      title="Toggle attribution"
      aria-label="Toggle attribution"
    ></button>
    <div class="mapboxgl-ctrl-attrib-inner text-black" role="list">
      <a
        href="https://www.mapbox.com/about/maps/"
        target="_blank"
        title="Mapbox"
        class="mr-1 text-black"
        aria-label="Mapbox"
        role="listitem"
        >© Mapbox</a
      >
      <a
        href="http://www.openstreetmap.org/about/"
        target="_blank"
        title="OpenStreetMap"
        class="mr-1 text-black"
        aria-label="OpenStreetMap"
        role="listitem"
        >© OpenStreetMap</a
      >
      <a
        href="https://doh.gov.ph/"
        target="_blank"
        title="OpenStreetMap"
        aria-label="DOH"
        class="mr-1 text-black"
        role="listitem"
        >© Department of Health</a
      >
      <a
        href="https://www.mapbox.com/map-feedback/"
        target="_blank"
        title="Improve this map"
        class="text-black"
        aria-label="Improve this map"
        role="listitem"
        >Improve this map
      </a>
    </div>
  </div>
</div>
