#map {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.mapboxgl-popup-close-button {
  z-index: 1;
  font-size: 20px;
  right: 5px;
}
.distance-container {
  position: absolute;
  top: 216px;
  right: 47px;
  z-index: 1;
}

.distance-container > * {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
}
.area-container {
  position: absolute;
  top: 175px;
  right: 47px;
  z-index: 1;
  margin-right: 3px;
}

.area-container > * {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
}

.map-icon {
  top: 279px;
}

.coords {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  top: 332px;
  right: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
}
