.legend-expand {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;

  &.legend-open {
    max-height: 500px;
    opacity: 1;
  }
}
