<div
  class="fixed w-full h-full min-h-screen bg-gray-100 flex flex-col md:flex-row"
>
  <button
    (click)="isMenu = !isMenu"
    class="
      fixed
      p-2
      z-50
      bg-white
      text-gray-800
      shadow-2xl
      drop-shadow-2xl
      rounded-t-lg
      md:rounded-tl-none md:rounded-r-lg md:top-4
      h-10
      bottom-0
      self-center
    "
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 hidden md:block"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"
      />
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 md:hidden animate-bounce"
      viewBox="0 0 24 30"
    >
      <path
        d="M18.293 16.707L12 10.414l-6.293 6.293a1 1 0 11-1.414-1.414l7-7a1 1 0 011.414 0l7 7a1 1 0 01-1.414 1.414z"
        fill="#000"
        fill-rule="nonzero"
      />
    </svg>

    <span class="sr-only">Open menu</span>
  </button>

  <noah-search
    class="
      fixed
      p-2
      z-20
      md:rounded-r-lg
      rounded-t-lg
      md:top-4
      self-center
      md:hidden
      w-2/3
    "
    [searchTerm]="searchTerm"
    (selectPlace)="selectPlace($event)"
  >
  </noah-search>

  <nav
    class="
      fixed
      p-4
      z-50
      bg-white
      rounded-lg
      md:rounded-l-sm
      overflow-y-auto
      h-96
      md:h-full
      w-full
      md:w-96
      bottom-0
      md:order-first
      shadow-2xl
      rounded-t-lg
    "
    *ngIf="isMenu"
    id="sidebar"
  >
    <!-- MAPBOX LOGO -->
    <div class="flex" *ngIf="isMenu">
      <div class="absolute p-2 z-20 -left-2 top-0 md:hidden">
        <a class="fixed max-w-xs items-center">
          <div class="mapboxgl-ctrl-bottom-left mb-2">
            <div class="mapboxgl-ctrl">
              <a
                class="mapboxgl-ctrl-logo"
                target="_blank"
                rel="noopener nofollow"
                href="https://www.mapbox.com/"
                aria-label="Mapbox logo"
              >
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="flex" *ngIf="isMenu">
      <div class="absolute p-2 z-20 right-0 top-0 md:hidden">
        <a class="fixed max-w-xs items-center">
          <div class="mapboxgl-ctrl-bottom-right -right-2 mb-2">
            <div class="mapboxgl-ctrl mapboxgl-ctrl-attrib mapboxgl-compact">
              <div
                class="cursor-pointer"
                (click)="isList === 1 ? (isList = 0) : (isList = 1)"
              >
                <div
                  class="
                    mapboxgl-ctrl-attrib-button
                    bg-gray-200
                    z-50
                    focus:outline-none
                  "
                  type="button"
                  title="Toggle attribution"
                  aria-label="Toggle attribution"
                ></div>
                <div class="absolute z-40 right-0 -bottom-1 pt-2">
                  <div class="rounded-lg bg-white h-auto w-64 mt-4">
                    <ul *ngIf="isList === 1">
                      <li class="p-1 text-xs">
                        <div>
                          <a
                            href="https://www.mapbox.com/about/maps/"
                            target="_blank"
                            title="Mapbox"
                            aria-label="Mapbox"
                            role="listitem"
                          >
                            <span class="mr-1 text-black">© Mapbox</span></a
                          >
                          <a
                            href="http://www.openstreetmap.org/about/"
                            target="_blank"
                            title="OpenStreetMap"
                            aria-label="OpenStreetMap"
                            role="listitem"
                          >
                            <span class="mr-1 text-black">© OpenStreetMap</span>
                          </a>
                        </div>
                        <div>
                          <a
                            href="https://doh.gov.ph/"
                            target="_blank"
                            title="Mapbox"
                            aria-label="Mapbox"
                            role="listitem"
                          >
                            <span class="mr-1 text-black"
                              >© Department of Health</span
                            ></a
                          >
                          <a
                            href="https://www.mapbox.com/map-feedback/"
                            target="_blank"
                            title="OpenStreetMap"
                            aria-label="OpenStreetMap"
                            role="listitem"
                          >
                            <span class="mr-1 text-black"
                              >Improve this map</span
                            >
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- MAPBOX LOGO -->
    <div class="flex" *ngIf="isMenu">
      <div class="absolute z-50 md:left-96 bottom-0 hidden md:block">
        <a class="fixed max-w-xs items-center">
          <div class="mapboxgl-ctrl-bottom-left">
            <div class="mapboxgl-ctrl">
              <a
                class="mapboxgl-ctrl-logo"
                target="_blank"
                rel="noopener nofollow"
                href="https://www.mapbox.com/"
                aria-label="Mapbox logo"
              >
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="absolute">
      <img
        class="object-cover w-full h-full opacity-5"
        src="assets/images/sidebar-bg.png"
        alt="Sidebar background"
      />
    </div>
    <div class="relative flex items-center justify-between mb-2">
      <div class="w-full" routerLink="/" role="button">
        <img src="assets/icons/logo-noah.svg" class="z-50 w-20" />
      </div>
      <!-- QC IOT ACCOUNT LOCAL   -->
      <img
        class="w-10 h-10 rounded-full mx-auto"
        src="https://th.bing.com/th/id/R.0e46cbc8c39a4c607359ca736c2c6ec3?rik=j7NvGiGXEIqUYQ&riu=http%3a%2f%2f3.bp.blogspot.com%2f-Kyen0ow8-ZM%2fVL9G10YOXHI%2fAAAAAAAAE9c%2fbzXXi8foQFg%2fs355%2fQCSealnew.png&ehk=VLaZJ5SLWlVst6pIxmgIzOjx%2fQPDP8Kq%2fvAPxI5t6Fs%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1"
        alt=""
        width="384"
        height="512"
        *ngIf="LoginStatus$ | async as LoginStatus"
      />
      <div class="dropdown inline-block relative">
        <button
          class="ml-2 text-base whitespace-nowrap font-bold"
          *ngIf="UserName$ | async as UserName"
        >
          {{ UserName | uppercase }}
        </button>
        <ul
          class="
            z-50
            dropdown-menu
            rounded-lg
            shadow-2xl
            drop-shadow-xl
            bg-white
            right-0
            top-6
            absolute
            hidden
            text-sm text-gray-700
          "
        >
          <li class="" *ngIf="LoginStatus$ | async as LoginStatus">
            <a
              class="
                rounded-lg
                block
                px-4
                py-2
                text-sm
                leading-5
                text-gray-700
                transition
                duration-150
                ease-in-out
                hover:bg-gray-100
                focus:outline-none focus:bg-gray-100
              "
              role="button"
              (click)="onLogout()"
              *ngIf="LoginStatus"
              >Logout</a
            >
          </li>
        </ul>
      </div>
      <!-- QC IOT ACCOUNT LOCAL -->

      <div (click)="isMenu = !isMenu" class="text-black ml-8 cursor-pointer">
        <button
          class="
            md:fixed
            p-2
            z-20
            bg-white
            text-gray-800
            md:left-96
            top-4
            rounded-lg
            md:rounded-l-sm
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 hidden md:block"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 md:hidden"
            data-name="Layer 1"
            viewBox="0 0 24 30"
          >
            <path
              d="M11.95 17.28a.75.75 0 01-.53-.22l-8.95-9A.75.75 0 113.53 7L12 15.46l8.52-8.52A.75.75 0 0121.53 8l-9.05 9.05a.75.75 0 01-.53.23z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="relative flex items-center justify-between mb-2">
      <!-- <noah-login></noah-login> -->
    </div>
    <div class="relative">
      <noah-search
        class="w-full hidden md:block relative"
        [searchTerm]="searchTerm"
        (selectPlace)="selectPlace($event)"
      >
      </noah-search>
      <noah-exaggeration class="w-full"></noah-exaggeration>
      <noah-hazard-type
        class="w-full"
        *ngFor="let hazard of hazardTypes"
        [hazard]="hazard"
      ></noah-hazard-type>
      <noah-volcano-group class="w-full"></noah-volcano-group>
      <noah-critical-facilities-playground
        class="w-full"
      ></noah-critical-facilities-playground>
      <noah-weather-satellite-playground
        class="w-full"
      ></noah-weather-satellite-playground>
      <noah-contour-maps></noah-contour-maps>
      <noah-sensors-group></noah-sensors-group>
      <noah-qc-sensors-group></noah-qc-sensors-group>
    </div>
  </nav>
  <!-- //Customizing Mapbox attribution -->
  <div class="mapboxgl-ctrl-bottom-right md:hidden z-40">
    <div class="mapboxgl-ctrl mapboxgl-ctrl-attrib mapboxgl-compact">
      <div
        class="cursor-pointer"
        (click)="isList === 1 ? (isList = 0) : (isList = 1)"
      >
        <div
          class="
            mapboxgl-ctrl-attrib-button
            bg-gray-200
            z-50
            focus:outline-none
          "
          type="button"
          title="Toggle attribution"
          aria-label="Toggle attribution"
        ></div>
        <div class="absolute z-40 right-0 -bottom-1 pt-2">
          <div class="rounded-lg bg-white h-auto w-64 mt-4">
            <ul *ngIf="isList === 1">
              <li class="p-1 text-xs">
                <div>
                  <a
                    href="https://www.mapbox.com/about/maps/"
                    target="_blank"
                    title="Mapbox"
                    aria-label="Mapbox"
                    role="listitem"
                  >
                    <span class="mr-1 text-black">© Mapbox</span></a
                  >
                  <a
                    href="http://www.openstreetmap.org/about/"
                    target="_blank"
                    title="OpenStreetMap"
                    aria-label="OpenStreetMap"
                    role="listitem"
                  >
                    <span class="mr-1 text-black">© OpenStreetMap</span>
                  </a>
                </div>
                <div>
                  <a
                    href="https://doh.gov.ph/"
                    target="_blank"
                    title="Mapbox"
                    aria-label="Mapbox"
                    role="listitem"
                  >
                    <span class="mr-1 text-black"
                      >© Department of Health</span
                    ></a
                  >
                  <a
                    href="https://www.mapbox.com/map-feedback/"
                    target="_blank"
                    title="OpenStreetMap"
                    aria-label="OpenStreetMap"
                    role="listitem"
                  >
                    <span class="mr-1 text-black">Improve this map</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //Customizing Mapbox attribution -->

  <main
    class="
      block
      h-screen
      flex-wrap
      w-full
      md:w-3/4
      bg-gray-100
      order-1
      md:min-h-screen
      z-10
    "
  >
    <noah-map-playground></noah-map-playground>
  </main>
</div>
<div *ngIf="DisclaimerStatus$ | async as DisclaimerStatus">
  <noah-disclaimer
    *ngIf="DisclaimerStatus || disclaimerModal"
  ></noah-disclaimer>
</div>
<!-- <div *ngIf="!(LoginStatus$ | async) as LoginStatus">
  <noah-qc-login *ngIf="LoginStatus || qcLoginModal"></noah-qc-login>
</div> -->
<noah-alert *ngIf="showAlert"></noah-alert>
<noah-qc-login *ngIf="modalAlert"></noah-qc-login>
