<!-- for maintenance only -->
<div
  class="
    min-w-screen
    h-screen
    animated
    fadeIn
    faster
    fixed
    left-0
    top-0
    flex
    justify-center
    items-center
    inset-0
    z-50
    outline-none
    focus:outline-none
    bg-no-repeat bg-center bg-cover
  "
>
  <div class="absolute bg-black opacity-80 inset-0 z-0"></div>
  <!--content-->
  <div class="min-w-screen min-h-screen flex items-center z-50 justify-center">
    <div class="flex flex-col items-start">
      <div class="flex flex-col justify-center items-center">
        <img
          class="w-8/12 sm:w-4/6"
          src="assets/images/noah-maintenance.png"
          alt="qc logo"
        />
      </div>
    </div>
  </div>
</div>
<!-- Disable body scrolling when maintenance is active -->
<style>
  body {
    overflow: hidden;
  }
  hr,
  section,
  noah-footer {
    display: none;
  }
</style>
<!-- for maintenance only -->

<div
  class="fixed w-full h-full min-h-screen bg-gray-100 flex flex-col md:flex-row"
>
  <button
    (click)="isMenu = !isMenu"
    class="
      fixed
      p-2
      z-50
      bg-white
      text-gray-800
      shadow-2xl
      drop-shadow-2xl
      rounded-t-lg
      md:rounded-tl-none md:rounded-r-lg md:top-4
      h-10
      bottom-0
      self-center
    "
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 hidden md:block"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 5l7 7-7 7"
      />
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 md:hidden animate-bounce"
      viewBox="0 0 24 30"
    >
      <path
        d="M18.293 16.707L12 10.414l-6.293 6.293a1 1 0 11-1.414-1.414l7-7a1 1 0 011.414 0l7 7a1 1 0 01-1.414 1.414z"
        fill="#000"
        fill-rule="nonzero"
      />
    </svg>

    <span class="sr-only">Open menu</span>
  </button>

  <div class="p-2 z-50 h-10 bottom-10" *ngIf="raBtnPopu">
    <div class="mapboxgl-ctrl-bottom-left mb-6">
      <div class="mapboxgl-ctrl">
        <button class="raBtn" (click)="openModalPopu()">Data Summary</button>
        <span role="button" class="x-raBtn" (click)="closeBtnRisk()"></span>
      </div>
    </div>
  </div>

  <noah-search
    class="
      fixed
      p-2
      z-20
      md:rounded-r-lg
      rounded-t-lg
      md:top-4
      self-center
      md:hidden
      w-2/3
    "
    [searchTerm]="searchTerm"
    (selectPlace)="selectPlace($event)"
  >
  </noah-search>

  <nav
    class="
      fixed
      p-4
      z-50
      bg-white
      rounded-lg
      md:rounded-l-sm
      overflow-y-auto
      h-64
      md:h-full
      w-full
      md:w-96
      bottom-0
      md:order-first
      shadow-2xl
      rounded-t-lg
    "
    *ngIf="isMenu"
    id="sidebar"
  >
    <div
      class="
        md:bottom-20
        absolute
        z-10
        hidden
        md:inline-block md:left-96
        flex-row
        py-4
      "
      *ngIf="raBtnPopu && isMenu"
    >
      <a class="fixed max-w-xs items-center">
        <button class="raBtn" (click)="openModalPopu()">Data Summary</button>
        <span role="button" class="x-raBtn" (click)="closeBtnRisk()"></span>
      </a>
    </div>

    <!-- MAPBOX LOGO -->
    <div class="flex" *ngIf="isMenu">
      <div class="absolute p-2 z-20 -left-2 top-0 md:hidden">
        <a class="fixed max-w-xs items-center">
          <div class="mapboxgl-ctrl-bottom-left mb-2">
            <div class="mapboxgl-ctrl">
              <a
                class="mapboxgl-ctrl-logo"
                target="_blank"
                rel="noopener nofollow"
                href="https://www.mapbox.com/"
                aria-label="Mapbox logo"
              >
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="flex" *ngIf="raBtnPopu">
      <div class="absolute z-20 -left-2 -top-4 md:hidden">
        <a class="fixed max-w-xs items-center">
          <div class="mapboxgl-ctrl-bottom-left mb-2">
            <div class="mapboxgl-ctrl">
              <button class="raBtn" (click)="openModalPopu()">
                Data Summary
              </button>
              <span
                role="button"
                class="x-raBtn"
                (click)="closeBtnRisk()"
              ></span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="flex" *ngIf="isMenu">
      <div class="absolute p-2 z-20 right-0 top-0 md:hidden">
        <a class="fixed max-w-xs items-center">
          <div class="mapboxgl-ctrl-bottom-right -right-2 mb-2">
            <div class="mapboxgl-ctrl mapboxgl-ctrl-attrib mapboxgl-compact">
              <div
                class="cursor-pointer"
                (click)="isList === 1 ? (isList = 0) : (isList = 1)"
              >
                <div
                  class="
                    mapboxgl-ctrl-attrib-button
                    bg-gray-200
                    z-50
                    focus:outline-none
                  "
                  type="button"
                  title="Toggle attribution"
                  aria-label="Toggle attribution"
                ></div>
                <div class="absolute z-40 right-0 -bottom-1 pt-2">
                  <div class="rounded-lg bg-white h-auto w-64 mt-4">
                    <ul *ngIf="isList === 1">
                      <li class="p-1 text-xs">
                        <div>
                          <a
                            href="https://www.mapbox.com/about/maps/"
                            target="_blank"
                            title="Mapbox"
                            aria-label="Mapbox"
                            role="listitem"
                          >
                            <span class="mr-1 text-black">© Mapbox</span></a
                          >
                          <a
                            href="http://www.openstreetmap.org/about/"
                            target="_blank"
                            title="OpenStreetMap"
                            aria-label="OpenStreetMap"
                            role="listitem"
                          >
                            <span class="mr-1 text-black">© OpenStreetMap</span>
                          </a>
                        </div>
                        <div>
                          <a
                            href="https://doh.gov.ph/"
                            target="_blank"
                            title="Mapbox"
                            aria-label="Mapbox"
                            role="listitem"
                          >
                            <span class="mr-1 text-black"
                              >© Department of Health</span
                            ></a
                          >
                          <a
                            href="https://www.mapbox.com/map-feedback/"
                            target="_blank"
                            title="OpenStreetMap"
                            aria-label="OpenStreetMap"
                            role="listitem"
                          >
                            <span class="mr-1 text-black"
                              >Improve this map</span
                            >
                          </a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- MAPBOX LOGO -->
    <div class="flex" *ngIf="isMenu">
      <div class="absolute z-50 md:left-96 bottom-0 hidden md:block">
        <a class="fixed max-w-xs items-center">
          <div class="mapboxgl-ctrl-bottom-left">
            <div class="mapboxgl-ctrl">
              <a
                class="mapboxgl-ctrl-logo"
                target="_blank"
                rel="noopener nofollow"
                href="https://www.mapbox.com/"
                aria-label="Mapbox logo"
              >
              </a>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="absolute">
      <img
        class="object-cover w-full h-full opacity-5"
        src="assets/images/sidebar-bg.png"
        alt="Sidebar background"
      />
    </div>
    <div class="relative flex items-center justify-between mb-2">
      <div class="w-full">
        <img
          src="assets/icons/noah_logo.png"
          routerLink="/"
          role="button"
          class="z-50 w-20"
        />
      </div>
      <!-- QC IOT ACCOUNT LOCAL   -->
      <img
        class="w-auto h-10 mx-auto"
        src="assets/icons/qclogo.png"
        alt=""
        width="100%"
        height="100%"
        *ngIf="qcAdmin"
      />

      <img
        class="w-auto h-10 mx-auto"
        src="assets/icons/laguna_logo.png"
        alt=""
        width="100%"
        height="100%"
        *ngIf="lagunaAdmin"
      />

      <div class="dropdown inline-block relative">
        <button
          type="button"
          class="
            text-xs
            uppercase
            font-bold
            px-2
            py-2
            my-4
            inline-flex
            items-center
            justify-center
            focus:outline-none
            mx-auto
            lg:mx-0
            tracking-widest
            focus:ring-opacity-50
          "
          *ngIf="isLoggedIn()"
        >
          <div
            class="cursor-pointer relative"
            (click)="isList ? (isList = false) : (isList = true)"
          >
            <span>{{ userName }}</span>
            <ul
              *ngIf="isList"
              class="
                bg-white
                shadow
                rounded
                z-40
                py-1
                w-20
                left-0
                mt-4
                -ml-4
                absolute
                top-0
              "
            >
              <li
                class="
                  cursor-pointer
                  text-gray-600 text-xs
                  leading-3
                  tracking-normal
                  py-3
                  hover:bg-indigo-700 hover:text-white
                  px-3
                  font-normal
                  z-50
                "
                (click)="logout()"
              >
                Logout
              </li>
            </ul>
          </div>
        </button>
      </div>
      <!-- QC IOT ACCOUNT LOCAL -->

      <div (click)="isMenu = !isMenu" class="text-black ml-8 cursor-pointer">
        <button
          class="
            md:fixed
            p-2
            z-20
            bg-white
            text-gray-800
            md:left-96
            top-4
            rounded-lg
            md:rounded-l-sm
          "
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 hidden md:block"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 19l-7-7 7-7"
            />
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 md:hidden"
            data-name="Layer 1"
            viewBox="0 0 24 30"
          >
            <path
              d="M11.95 17.28a.75.75 0 01-.53-.22l-8.95-9A.75.75 0 113.53 7L12 15.46l8.52-8.52A.75.75 0 0121.53 8l-9.05 9.05a.75.75 0 01-.53.23z"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="relative flex items-center justify-between mb-2">
      <!-- <noah-login></noah-login> -->
    </div>
    <div class="relative">
      <noah-search
        class="w-full hidden md:block relative"
        [searchTerm]="searchTerm"
        (selectPlace)="selectPlace($event)"
      >
      </noah-search>
      <noah-exaggeration class="w-full"></noah-exaggeration>
      <noah-hazard-type
        class="w-full"
        *ngFor="let hazard of hazardTypes"
        [hazard]="hazard"
      ></noah-hazard-type>
      <noah-volcano-group class="w-full"></noah-volcano-group>
      <noah-critical-facilities-playground
        class="w-full"
      ></noah-critical-facilities-playground>
      <noah-weather-satellite-playground
        class="w-full"
      ></noah-weather-satellite-playground>
      <!-- <noah-contour-maps></noah-contour-maps>
      <noah-sensors-group></noah-sensors-group> -->
      <noah-qc-sensors-group></noah-qc-sensors-group>
      <noah-risk-assessment-group class="w-full"></noah-risk-assessment-group>
      <noah-boundaries-group
        *ngIf="hideBoundaries"
        class="w-full"
      ></noah-boundaries-group>
    </div>
  </nav>
  <!-- //Customizing Mapbox attribution -->
  <div class="mapboxgl-ctrl-bottom-right md:hidden z-40">
    <div class="mapboxgl-ctrl mapboxgl-ctrl-attrib mapboxgl-compact">
      <div
        class="cursor-pointer"
        (click)="isList === 1 ? (isList = 0) : (isList = 1)"
      >
        <div
          class="
            mapboxgl-ctrl-attrib-button
            bg-gray-200
            z-50
            focus:outline-none
          "
          type="button"
          title="Toggle attribution"
          aria-label="Toggle attribution"
        ></div>
        <div class="absolute z-40 right-0 -bottom-1 pt-2">
          <div class="rounded-lg bg-white h-auto w-64 mt-4">
            <ul *ngIf="isList === 1">
              <li class="p-1 text-xs">
                <div>
                  <a
                    href="https://www.mapbox.com/about/maps/"
                    target="_blank"
                    title="Mapbox"
                    aria-label="Mapbox"
                    role="listitem"
                  >
                    <span class="mr-1 text-black">© Mapbox</span></a
                  >
                  <a
                    href="http://www.openstreetmap.org/about/"
                    target="_blank"
                    title="OpenStreetMap"
                    aria-label="OpenStreetMap"
                    role="listitem"
                  >
                    <span class="mr-1 text-black">© OpenStreetMap</span>
                  </a>
                </div>
                <div>
                  <a
                    href="https://doh.gov.ph/"
                    target="_blank"
                    title="Mapbox"
                    aria-label="Mapbox"
                    role="listitem"
                  >
                    <span class="mr-1 text-black"
                      >© Department of Health</span
                    ></a
                  >
                  <a
                    href="https://www.mapbox.com/map-feedback/"
                    target="_blank"
                    title="OpenStreetMap"
                    aria-label="OpenStreetMap"
                    role="listitem"
                  >
                    <span class="mr-1 text-black">Improve this map</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //Customizing Mapbox attribution -->

  <main
    class="
      block
      h-screen
      flex-wrap
      w-full
      md:w-3/4
      bg-gray-100
      order-1
      md:min-h-screen
      z-10
    "
  >
    <noah-map-playground></noah-map-playground>
  </main>
</div>
<noah-alert *ngIf="showAlert"></noah-alert>
<noah-summary *ngIf="iotModalOpen"></noah-summary>
<noah-qc-login *ngIf="modalAlert"></noah-qc-login>

<!-- LOGOUT ALERT -->
<div
  class="'z-50 fixed w-full flex justify-center inset-0"
  *ngIf="isLogoutAlert"
>
  <div
    class="w-full h-full bg-gray-900 opacity-80 z-0 absolute inset-0"
    (click)="closeModal()"
  ></div>
  <div
    class="
      py-12
      dark:bg-gray-900
      transition
      duration-150
      ease-in-out
      z-10
      absolute
      top-0
      right-0
      bottom-0
      left-0
    "
  >
    <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
      <div
        class="
          relative
          p-4
          md:px-16
          bg-white
          dark:bg-gray-800 dark:border-gray-700
          shadow-md
          rounded
          border border-gray-400
        "
      >
        <div class="flex items-center">
          <div
            tabindex="0"
            aria-label="document icon"
            role="img"
            class="
              focus:outline-none
              w-11
              h-11
              rounded-sm
              flex
              items-center
              justify-center
            "
          >
            <svg
              class="h-10 w-10 text-yellow-400"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
              ></path>
            </svg>
          </div>
          <div class="pl-3">
            <p
              tabindex="0"
              class="
                focus:outline-none
                text-lg
                font-bold
                leading-3
                text-black
                pt-1
              "
            >
              Are you sure you want to log out?
            </p>
          </div>
        </div>
        <div class="flex items-center justify-center w-full mt-5">
          <button
            class="
              focus:outline-none
              mr-5
              bg-gray-100
              dark:bg-gray-700 dark:border-gray-700 dark:hover:bg-gray-600
              transition
              duration-150
              text-gray-600
              dark:text-gray-400
              ease-in-out
              hover:border-gray-400 hover:bg-gray-300
              border
              rounded
              px-8
              py-2
              text-sm
            "
            (click)="closeModal()"
          >
            Cancel
          </button>
          <button
            class="
              focus:outline-none
              transition
              duration-150
              ease-in-out
              hover:bg-indigo-600
              bg-indigo-700
              rounded
              text-white
              px-4
              sm:px-8
              py-2
              text-xs
              sm:text-sm
            "
            (click)="processLogout()"
          >
            Okay
          </button>
        </div>
        <div
          class="
            cursor-pointer
            absolute
            top-0
            right-0
            mt-4
            mr-5
            text-gray-400
            hover:text-gray-600
            dark:hover:text-gray-500
            transition
            duration-150
            ease-in-out
          "
          (click)="closeModal()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            aria-label="Close"
            class="icon icon-tabler icon-tabler-x"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <line x1="18" y1="6" x2="6" y2="18" />
            <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<noah-risk-assessment-modal></noah-risk-assessment-modal>

<!-- WARNING FOR ACCOUNT DOWNLOAD RESTRICTION -->
<div
  class="'z-50 fixed w-full flex justify-center inset-0"
  *ngIf="isWarningAlert"
>
  <div class="w-full h-full bg-gray-900 opacity-80 z-0 absolute inset-0"></div>
  <div
    class="
      py-12
      dark:bg-gray-900
      transition
      duration-150
      ease-in-out
      z-10
      absolute
      top-0
      right-0
      bottom-0
      left-0
    "
  >
    <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
      <div
        class="
          relative
          p-4
          md:px-16
          bg-white
          dark:bg-gray-800 dark:border-gray-700
          shadow-md
          rounded
          border border-gray-400
          mt-44
          md:mt-0
        "
      >
        <div class="flex items-center">
          <div
            tabindex="0"
            aria-label="document icon"
            role="img"
            class="
              focus:outline-none
              w-11
              h-11
              rounded-sm
              flex
              items-center
              justify-center
            "
          >
            <svg
              class="h-10 w-10 text-yellow-400"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"
              ></path>
            </svg>
          </div>
          <div class="pl-3">
            <p
              tabindex="0"
              class="
                focus:outline-none
                text-sm
                leading-3
                text-black
                pt-1
                font-bold
              "
            >
              You don't have permission to download data.
            </p>
          </div>
        </div>
        <div class="flex items-center justify-center w-full mt-5">
          <button
            class="
              focus:outline-none
              mr-5
              bg-gray-100
              dark:bg-gray-700 dark:border-gray-700 dark:hover:bg-gray-600
              transition
              duration-150
              text-gray-600
              dark:text-gray-400
              ease-in-out
              hover:border-gray-400 hover:bg-gray-300
              border
              rounded
              px-8
              py-2
              text-sm
            "
            (click)="closeWarning()"
          >
            Cancel
          </button>
        </div>
        <div
          class="
            cursor-pointer
            absolute
            top-0
            right-0
            mt-4
            mr-5
            text-gray-400
            hover:text-gray-600
            dark:hover:text-gray-500
            transition
            duration-150
            ease-in-out
          "
          (click)="closeWarning()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            aria-label="Close"
            class="icon icon-tabler icon-tabler-x"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" />
            <line x1="18" y1="6" x2="6" y2="18" />
            <line x1="6" y1="6" x2="18" y2="18" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<noah-disclaimer *ngIf="disclaimerModalOpen"></noah-disclaimer>
