.pagasa {
  --color: #3498db;
  background-color: #3498db;
  &,
  input {
    border-radius: 100% !important;
    --border-color: #9ca3af;
  }
}

.hko {
  --color: #f64747;
  background-color: #f64747;
  &,
  input {
    border-radius: 100% !important;
    --border-color: #9ca3af;
  }
}

.jtwc {
  --color: #00b16a;
  background-color: #00b16a;
  &,
  input {
    border-radius: 100% !important;
    --border-color: #9ca3af;
  }
}

.jma {
  --color: #e9d460;
  background-color: #e9d460;
  &,
  input {
    border-radius: 100% !important;
    --border-color: #9ca3af;
  }
}

.nmc {
  --color: #e9d460;
  background-color: #e9d460;
  &,
  input {
    border-radius: 100% !important;
    --border-color: #9ca3af;
  }
}
.cwa {
  --color: #9b59b6;
  background-color: #9b59b6;
  &,
  input {
    border-radius: 100% !important;
    --border-color: #9ca3af;
  }
}
.kma {
  --color: #e67e22;
  background-color: #e67e22;
  &,
  input {
    border-radius: 100% !important;
    --border-color: #9ca3af;
  }
}
