<!-- for maintenance only -->
<div
  class="
    min-w-screen
    h-screen
    animated
    fadeIn
    faster
    fixed
    left-0
    top-0
    flex
    justify-center
    items-center
    inset-0
    z-50
    outline-none
    focus:outline-none
    bg-no-repeat bg-center bg-cover
  "
>
  <div class="absolute bg-black opacity-80 inset-0 z-0"></div>
  <!--content-->
  <div class="min-w-screen min-h-screen flex items-center z-50 justify-center">
    <div class="flex flex-col items-start">
      <div class="flex flex-col justify-center items-center">
        <img
          class="w-8/12 sm:w-4/6"
          src="assets/images/noah-maintenance.png"
          alt="qc logo"
        />
      </div>
    </div>
  </div>
</div>
<!-- Disable body scrolling when maintenance is active -->
<style>
  body {
    overflow: hidden;
  }
  hr,
  section,
  noah-footer {
    display: none;
  }
</style>
<!-- for maintenance only -->
<div class="px-6 md:px-8 py-4 lg:py-2 flex items-center bg-white shadow">
  <a
    class="
      toggleColour
      no-underline
      hover:no-underline
      font-bold
      text-2xl
      lg:text-4xl
    "
    routerLink="/"
  >
    <div class="flex max-w-xs items-center">
      <img src="assets/icons/noah_logo.png" class="z-50 w-16 lg:w-20" />
      <img src="assets/icons/noah_text.png" class="z-50 h-10 pl-2" />
    </div>
  </a>
</div>

<noah-search
  [searchTerm]="currentLocation$ | async"
  (selectPlace)="selectPlace($event)"
  class="px-12 md:px-8 w-full md:mt-4 block md:relative absolute top-0"
>
</noah-search>

<!-- DRAGGABLE NOTE -->
<section class="px-6 md:px-8 py-0">
  <p class="mt-3 italic text-xs tracking-wide">
    <span class="font-bold">Tip:</span> You may drag the pin to change the
    location.
  </p>
</section>
<!-- KYH -->
<section class="px-6 md:px-8">
  <header class="text-xl font-bold leading-tight mt-2 pb-2">
    Hazard Levels In Your Area
  </header>

  <!-- BUTTON -->
  <noah-hazard-button hazardType="flood"></noah-hazard-button>
  <noah-hazard-button hazardType="landslide"></noah-hazard-button>
  <noah-hazard-button hazardType="storm-surge"></noah-hazard-button>
</section>

<!-- NOTES -->
<section class="px-6 md:px-8 py-2">
  <p class="mt-2 italic text-xs tracking-wide">
    <span class="font-bold">Note:</span>
    <li>
      If you want an independent assessment of flood, landslide, or storm surge,
      then click on the tabs above.
    </li>
    <li>
      Assessment is for a point location. Please refer to map for visual
      evaluation.
    </li>
  </p>
  <p class="font-bold py-2">Hazards included in map database are:</p>
  <ol>
    <li>1) 100-year rain return for floods;</li>
    <li>2) Shallow and structurally-controlled landslides;</li>
    <li class="mb-2">3) 5-meters for storm surges.</li>
    <li>
      For more information, please go to the
      <a routerLink="/noah-playground" class="text-primary">NOAH Studio.</a>
    </li>
  </ol>

  <p class="mt-2">
    These hazard levels are based on flood simulations as well as satellite and
    historical data.
  </p>
  <p>
    Click <a routerLink="/bibliography" class="text-primary">here</a> for the
    methods used.
  </p>
  <p class="mt-2 text-xs tracking-wide">
    <span class="font-bold">Disclaimer:</span> Project NOAH is still in beta
    release. There are ongoing developments to stabilize the platform and to
    complete the hazard maps. The UP System, UP Resilience Institute, and UP
    NOAH Center will not be liable for any damages and losses of any party as a
    result of using this beta website, its contents, and functionalities.
  </p>
</section>

<!-- CRITICAL FACILITIES -->
<section class="px-6 md:px-8">
  <noah-critical-facilities-kyh></noah-critical-facilities-kyh>
</section>
