<div class="md:hidden">
  <div
    class="
      px-6
      md:px-8
      py-4
      lg:py-2
      flex
      items-center
      bg-white
      shadow
      sticky
      top-0
      lg-hidden
    "
  >
    <a
      class="
        toggleColour
        no-underline
        hover:no-underline
        font-bold
        text-2xl
        lg:text-4xl
      "
    >
      <div class="grid grid-cols-[auto,1fr] max-w-xs items-center relative">
        <!-- First Column: Logo -->
        <div class="col-span-1" routerLink="/">
          <img
            src="assets/icons/mmda_logo.png"
            role="button"
            class="z-50 w-20 pr-2"
          />
        </div>

        <!-- Second Column: Text -->
        <div class="col-span-1">
          <div class="flex flex-col items-start text-center gap-4">
            <span class="text-xs text-gray-500 whitespace-nowrap"
              >POWERED BY:</span
            >
            <img src="assets/icons/noah_logo.png" class="z-50 w-20 lg:w-20" />
          </div>
        </div>
      </div>
    </a>
  </div>

  <!-- DRAGGABLE NOTE -->
  <section *ngIf="currentPage == 1" class="px-6 md:px-8 py-0">
    <p class="mt-3 italic text-xs tracking-wide">
      <span class="font-bold">Tip:</span> You may drag the pin to change the
      location.
    </p>
  </section>
  <!-- KYH -->
  <section *ngIf="currentPage == 1" class="px-6 md:px-8">
    <header class="text-xl font-bold leading-tight mt-2 pb-2">
      Hazard Levels In Your Area
    </header>

    <!-- BUTTON -->
    <noah-hazard-button hazardType="flood"></noah-hazard-button>
    <noah-hazard-button hazardType="landslide"></noah-hazard-button>
    <noah-hazard-button hazardType="storm-surge"></noah-hazard-button>
  </section>

  <!-- NOTES -->
  <section *ngIf="currentPage == 1" class="px-6 md:px-8 py-2">
    <p class="mt-2 italic text-xs tracking-wide">
      <span class="font-bold">Note:</span>
      <li>
        If you want an independent assessment of flood, landslide, or storm
        surge, then click on the tabs above.
      </li>
      <li>
        Assessment is for a point location. Please refer to map for visual
        evaluation.
      </li>
    </p>
    <p class="font-bold py-2">Hazards included in map database are:</p>
    <ol>
      <li>1) 100-year rain return for floods;</li>
      <li>2) Shallow and structurally-controlled landslides;</li>
      <li class="mb-2">3) 5-meters for storm surges.</li>
      <li>
        For more information, please go to the
        <a routerLink="/noah-playground" target="_blank" class="text-primary"
          >NOAH Studio.</a
        >
      </li>
    </ol>

    <p class="mt-2">
      These hazard levels are based on flood simulations as well as satellite
      and historical data.
    </p>
    <p>
      Click
      <a [href]="bibliographyUrl" target="_blank" class="text-primary">here</a>
      for the methods used.
    </p>
    <p class="mt-2 text-xs tracking-wide">
      <span class="font-bold">Disclaimer:</span> Project NOAH is still in beta
      release. There are ongoing developments to stabilize the platform and to
      complete the hazard maps. The UP System, UP Resilience Institute, and UP
      NOAH Center will not be liable for any damages and losses of any party as
      a result of using this beta website, its contents, and functionalities.
    </p>
  </section>

  <!-- CRITICAL FACILITIES -->
  <section *ngIf="currentPage == 2" class="px-6 md:px-8 bg-white">
    <noah-critical-facilities-kyh></noah-critical-facilities-kyh>
  </section>

  <div class="h-10 bg-white flex sticky bottom-0 justify-between items-center">
    <button
      (click)="changePage()"
      class="p-4 px-8 text-xl text-blue-600 font-extrabold"
    >
      <
    </button>
    <div>
      <div class="flex flex-row" *ngIf="currentPage == 1">
        <div class="h-4 w-4 mr-3 rounded-3xl bg-blue-500"></div>
        <div class="h-2 w-2 mt-1 rounded-3xl bg-blue-300"></div>
      </div>
      <div class="flex flex-row" *ngIf="currentPage == 2">
        <div class="h-2 w-2 mt-1 mr-3 rounded-3xl bg-blue-300"></div>
        <div class="h-4 w-4 rounded-3xl bg-blue-500"></div>
      </div>
    </div>

    <button
      (click)="changePage()"
      class="p-4 px-8 text-xl text-blue-600 font-extrabold"
    >
      >
    </button>
  </div>
</div>

<!-- desktop view  -->
<div class="hidden md:block">
  <div
    class="
      sticky
      top-0
      z-50
      px-6
      md:px-8
      py-4
      lg:py-2
      flex
      items-center
      bg-white
      shadow
    "
  >
    <a
      class="
        toggleColour
        no-underline
        hover:no-underline
        font-bold
        text-2xl
        lg:text-4xl
      "
      routerLink="/"
    >
      <div class="flex max-w-xs items-center">
        <img
          src="assets/icons/mmda_logo.png"
          role="button"
          class="z-50 w-20 pr-2"
        />
        <div class="flex flex-col items-start text-center gap-4">
          <span class="text-xs text-gray-500 whitespace-nowrap"
            >POWERED BY:</span
          >
          <img src="assets/icons/noah_logo.png" class="z-50 w-16 lg:w-20" />
        </div>
      </div>
    </a>
  </div>

  <noah-search
    [searchTerm]="currentLocation$ | async"
    (selectPlace)="selectPlace($event)"
    class="
      px-12
      md:px-8
      w-full
      py-4
      md:py-2
      block
      md:relative
      absolute
      top-0
      shadow-sm
    "
  >
  </noah-search>

  <div class="max-h-[87vh] overflow-y-auto">
    <!-- DRAGGABLE NOTE -->
    <section class="px-6 md:px-8 py-0">
      <p class="mt-3 italic text-xs tracking-wide">
        <span class="font-bold">Tip:</span> You may drag the pin to change the
        location.
      </p>
    </section>
    <!-- KYH -->
    <section class="px-6 md:px-8">
      <header class="text-xl font-bold leading-tight mt-2 pb-2">
        Hazard Levels In Your Area
      </header>

      <!-- BUTTON -->
      <noah-hazard-button hazardType="flood"></noah-hazard-button>
      <noah-hazard-button hazardType="landslide"></noah-hazard-button>
      <noah-hazard-button hazardType="storm-surge"></noah-hazard-button>
    </section>

    <!-- NOTES -->
    <section class="px-6 md:px-8 py-2">
      <p class="mt-2 italic text-xs tracking-wide">
        <span class="font-bold">Note:</span>
        <li>
          If you want an independent assessment of flood, landslide, or storm
          surge, then click on the tabs above.
        </li>
        <li>
          Assessment is for a point location. Please refer to map for visual
          evaluation.
        </li>
      </p>
      <p class="font-bold py-2">Hazards included in map database are:</p>
      <ol>
        <li>1) 100-year rain return for floods;</li>
        <li>2) Shallow and structurally-controlled landslides;</li>
        <li class="mb-2">3) 5-meters for storm surges.</li>
        <li>
          For more information, please go to the
          <a routerLink="/noah-playground" class="text-primary">NOAH Studio.</a>
        </li>
      </ol>

      <p class="mt-2">
        These hazard levels are based on flood simulations as well as satellite
        and historical data.
      </p>
      <p>
        Click
        <a [href]="bibliographyUrl" target="_blank" class="text-primary"
          >here</a
        >
        for the methods used.
      </p>
      <p class="mt-2 text-xs tracking-wide">
        <span class="font-bold">Disclaimer:</span> Project NOAH is still in beta
        release. There are ongoing developments to stabilize the platform and to
        complete the hazard maps. The UP System, UP Resilience Institute, and UP
        NOAH Center will not be liable for any damages and losses of any party
        as a result of using this beta website, its contents, and
        functionalities.
      </p>
    </section>

    <!-- CRITICAL FACILITIES -->
    <section class="px-6 md:px-8 pb-10">
      <noah-critical-facilities-kyh></noah-critical-facilities-kyh>
    </section>
  </div>
</div>
