<!-- Desktop View -->
<div
  [ngClass]="
    'z-50 fixed w-full lg:flex justify-center inset-0 lg:p-10 p-5 hidden'
  "
  *ngIf="riskModal"
>
  <!-- *ngIf="riskModal" -->
  <div class="w-full h-full opacity-80 bg-black z-0 absolute inset-0"></div>
  <!-- modal -->
  <div
    class="
      max-h-auto
      border-none
      shadow-lg
      relative
      flex flex-col
      w-full
      pointer-events-auto
      bg-white bg-clip-padding
      rounded-md
      outline-none
      text-xl
      overflow-y-auto overflow-x-hidden
    "
  >
    <div
      class="
        flex flex-shrink-0
        items-center
        justify-between
        p-2
        border-b border-gray-200
        rounded-t-md
      "
    >
      <!-- Modal Header -->

      <div class="relative w-full r p-2 dark:bg-gray-800">
        <div
          class="
            cursor-pointer
            absolute
            top-0
            right-0
            m-2
            dark:text-gray-10
            text-gray-600
            transition
            duration-150
            ease-in-out
          "
        >
          <button
            class="
              btn-mininmize
              box-content
              w-4
              h-4
              p-1
              font-bold
              rounded-none
              mr-2
              opacity-50
              focus:shadow-none focus:outline-none focus:opacity-100
              hover:text-black hover:opacity-75 hover:no-underline
            "
            (click)="hideModal()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              data-name="Layer 1"
              viewBox="0 0 100 125"
            >
              <rect
                width="90"
                height="16.1"
                x="5"
                y="41.9"
                rx="5.7"
                ry="5.7"
                style="stroke-width: 0"
              />
            </svg>
          </button>
          <button
            class="
              btn-close
              box-content
              w-4
              h-4
              p-1
              font-bold
              rounded-none
              opacity-50
              focus:shadow-none focus:outline-none focus:opacity-100
              hover:text-black hover:opacity-75 hover:no-underline
            "
            (click)="closeModal()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xml:space="preserve"
              fill-rule="evenodd"
              stroke-linejoin="round"
              stroke-miterlimit="2"
              clip-rule="evenodd"
              viewBox="0 0 32 40"
            >
              <path
                d="m18.8 16 9.6-9.6a2 2 0 1 0-2.8-2.8L16 13.2 6.4 3.6a2 2 0 1 0-2.8 2.8l9.6 9.6-9.6 9.6a2 2 0 1 0 2.8 2.8l9.6-9.6 9.6 9.6a2 2 0 1 0 2.8-2.8L18.8 16Z"
              />
            </svg>
          </button>
        </div>
        <p
          class="
            lg:text-2xl
            md:text-lg
            font-bold
            leading-none
            whitespace-pre-line
            md:mt-2
            mt-6
            pt-6
            text-gray-800
            dark:text-gray-100
          "
        >
          In a large flood event, how many people might be affected and would
          need evacuation?
        </p>
        <div class="py-2 italic lg:text-lg text-sm">
          <span>As of {{ dateDataText }}</span>
        </div>
      </div>

      <!-- ... Your existing header content ... -->
    </div>
    <div class="flex-auto p-2">
      <div class="mb-2 bg-white">
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
          <div
            class="
              absolute
              inset-y-0
              left-0
              flex
              items-center
              pl-3
              pointer-events-none
            "
          >
            <svg
              class="w-5 h-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </div>
          <input
            [(ngModel)]="searchValue"
            type="search"
            id="table-search"
            class="
              bg-gray-50
              border border-gray-300
              text-gray-900 text-sm
              rounded-lg
              focus:ring-blue-500 focus:border-blue-500
              block
              w-80
              pl-10
              p-2.5
              dark:bg-gray-700
              dark:border-gray-600
              dark:placeholder-gray-400
              dark:text-white
              dark:focus:ring-blue-500
              dark:focus:border-blue-500
              disabled:cursor-not-allowed
            "
            placeholder="Search Location"
            (input)="loadData(1, searchValue)"
            [disabled]="errorMsg"
          />
        </div>
      </div>
      <!-- Modal Content -->
      <div class="table-wrp block flex-grow max-h-full" style="height: 50vh">
        <table
          class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="
              sticky
              top-0
              text-xs
              md:text-base
              text-gray-700
              uppercase
              bg-blue-200
              dark:text-gray-400
            "
          >
            <tr>
              <th class="sticky top-0 p-2" *ngFor="let col of columns">
                <div
                  role="button"
                  (click)="onHeaderColumnClick(col.key)"
                  class="flex leading-none items-center"
                >
                  {{ col.header }}
                  <svg
                    class="w-3 h-3 ml-1.5"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"
                    />
                  </svg>
                </div>
              </th>
            </tr>
          </thead>
          <div *ngIf="noResult">
            <div class="flex items-center absolute justify-center w-full py-6">
              <div
                class="bg-white flex items-center justify-center mx-4 md:w-2/3"
              >
                <div class="flex flex-col items-center py-4">
                  <p
                    class="
                      px-4
                      pb-10
                      text-base
                      md:text-2xl
                      leading-none
                      text-center text-gray-600
                    "
                  >
                    No result
                  </p>
                </div>
              </div>
            </div>
          </div>

          <ng-container>
            <div *ngIf="errorMsg; else dataAvailable">
              <div
                class="flex items-center absolute justify-center w-full py-6"
              >
                <div
                  class="
                    bg-white
                    flex
                    items-center
                    justify-center
                    mx-4
                    md:w-2/3
                  "
                >
                  <div class="flex flex-col items-center py-4">
                    <p
                      class="
                        px-4
                        pb-10
                        text-base
                        md:text-xl
                        leading-none
                        text-center text-gray-600
                      "
                    >
                      No forecast that meets pre-determined thresholds for large
                      floods
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-template #dataAvailable>
            <tbody class="overflow-auto lg:h-auto h-96 px-2 md:px-10">
              <tr
                *ngFor="
                  let data of affectedData
                    | sort: sortField:sortDirection
                    | searchRiskAffected: searchValue
                "
                class="
                  bg-white
                  border-b
                  transition
                  duration-300
                  ease-in-out
                  dark:bg-gray-800 dark:border-gray-700
                  hover:bg-gray-50
                  dark:hover:bg-gray-600
                  text-xs
                  md:text-base
                "
              >
                <td
                  class="
                    p-1
                    text-sm text-gray-900
                    font-light
                    px-6
                    py-4
                    whitespace-nowrap
                  "
                >
                  {{ data.brgy }}
                </td>
                <td
                  class="
                    p-1
                    text-sm text-gray-900
                    font-light
                    px-6
                    py-4
                    whitespace-nowrap
                  "
                >
                  {{ data.muni }}
                </td>
                <td
                  class="
                    p-1
                    text-sm text-gray-900
                    font-light
                    px-6
                    py-4
                    whitespace-nowrap
                  "
                >
                  {{ data.prov }}
                </td>
                <td class="p-3">
                  {{ data.total_pop | number: '1.0-0' }}
                </td>
                <td class="p-3">
                  {{ data.total_aff_pop | number: '1.0-0' }}
                </td>
                <td class="p-3">
                  {{ data.exposed_medhigh | number: '1.0-0' }}
                </td>
                <td class="p-3">{{ data.perc_aff_medhigh }}%</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
      <!-- ... Your existing content ... -->
    </div>
    <div class="flex-shrink-0 p-1 md:p-4 border-t border-gray-200 rounded-b-md">
      <!-- Modal Footer -->
      <div class="flex items-center pb-2 justify-center">
        <div class="lg:w-3/5 w-full flex items-center justify-between">
          <button
            class="
              flex
              items-center
              pt-3
              text-gray-600
              hover:text-indigo-700
              cursor-pointer
              disabled:opacity-75
              disabled:cursor-not-allowed
              disabled:hover:text-gray-600
            "
            (click)="loadData(currentPage - 1)"
            [disabled]="currentPage === 1"
          >
            <svg
              width="14"
              height="8"
              viewBox="0 0 14 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.1665 4H12.8332"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M1.1665 4L4.49984 7.33333"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M1.1665 4.00002L4.49984 0.666687"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
            <p class="text-sm ml-3 font-medium leading-none">Previous</p>
          </button>
          <div class="sm:flex hidden">
            <!-- Display count per display and total data count -->
            <p class="text-sm font-medium leading-none text-gray-600 pt-3 px-2">
              {{ (currentPage - 1) * itemsPerPage + 1 | number: '1.0-0' }} -
              {{ currentPage * itemsPerPage | number: '1.0-0' }} of
              {{ totalDataCount | number: '1.0-0' }}
            </p>
          </div>
          <button
            class="
              flex
              items-center
              pt-3
              text-gray-600
              hover:text-indigo-700
              cursor-pointer
              disabled:opacity-75
              disabled:cursor-not-allowed
              disabled:hover:text-gray-600
            "
            (click)="loadData(currentPage + 1)"
            [disabled]="currentPage * itemsPerPage >= totalDataCount"
          >
            <p class="text-sm font-medium leading-none mr-3">Next</p>
            <svg
              width="14"
              height="8"
              viewBox="0 0 14 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.1665 4H12.8332"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9.5 7.33333L12.8333 4"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9.5 0.666687L12.8333 4.00002"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="p-1 rounded-lg">
        <p
          class="
            lg:text-base
            text-sm
            py-4
            italic
            leading-none
            whitespace-pre-line
            text-ellipsis
          "
        >
          <b>Access Data Archive</b> : Click the link to download previous
          forecast data.
        </p>

        <div class="inline-block relative">
          <button
            class="
              border border-blue-200
              font-semibold
              lg:py-2 lg:px-4
              px-2
              py-1
              rounded
              inline-flex
              items-center
            "
            (click)="showSelectDate()"
          >
            <span class="mr-1 text-xs lg:text-base"> Select Date: </span>
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </button>
          <ul
            class="
              absolute
              border-blue-200
              overflow-y-auto
              pt-1
              bottom-full
              top-auto
              max-h-36
            "
            *ngIf="showSelect"
          >
            <li
              class="w-32 lg:w-60"
              *ngFor="let item of dropdown"
              [value]="item"
              role="button"
            >
              <a
                class="
                  rounded-t
                  bg-gray-100
                  text-xs
                  lg:text-base
                  hover:bg-gray-400
                  py-2
                  px-4
                  block
                  whitespace-no-wrap
                "
                (click)="onDateSelected(item)"
              >
                {{ item | date: 'medium':'+0000' }}</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Mobile View -->
<div
  class="w-full h-full opacity-80 bg-black z-0 absolute inset-0 lg:hidden"
></div>
<div
  class="
    max-h-auto
    border-none
    shadow-lg
    relative
    flex flex-col
    h-[95vh]
    w-[95vw]
    top-[2.5vh]
    left-[2.5vw]
    pointer-events-auto
    bg-gray-50 bg-clip-padding
    rounded-md
    outline-none
    text-xl
    opacity-100
    overflow-y-scroll overflow-x-hidden
    lg:hidden
    p-6
  "
>
  <div class="grid grid-cols-1 relative w-full min-h-full p-2 dark:bg-gray-800">
    <!-- Start of Header -->
    <header class="grid grid-row flex-shrink-0">
      <div>
        <div class="flex flex-row pb-4">
          <div class="w-16 pr-2">
            <img src="../../../../../assets/icons/logo-noah.svg" />
          </div>
          <div class="font-bold text-base">Exposure Assessment</div>
          <div
            class="
              cursor-pointer
              absolute
              top-0
              right-0
              m-2
              dark:text-gray-10
              text-gray-600
              transition
              duration-150
              ease-in-out
            "
          >
            <button
              class="
                btn-mininmize
                box-content
                w-4
                h-4
                p-1
                font-bold
                rounded-none
                mr-2
                opacity-50
                focus:shadow-none focus:outline-none focus:opacity-100
                hover:text-black hover:opacity-75 hover:no-underline
              "
              (click)="hideModal()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                data-name="Layer 1"
                viewBox="0 0 100 125"
              >
                <rect
                  width="90"
                  height="16.1"
                  x="5"
                  y="41.9"
                  rx="5.7"
                  ry="5.7"
                  style="stroke-width: 0"
                />
              </svg>
            </button>
            <button
              class="
                btn-close
                box-content
                w-4
                h-4
                p-1
                font-bold
                rounded-none
                opacity-50
                focus:shadow-none focus:outline-none focus:opacity-100
                hover:text-black hover:opacity-75 hover:no-underline
              "
              (click)="closeModal()"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xml:space="preserve"
                fill-rule="evenodd"
                stroke-linejoin="round"
                stroke-miterlimit="2"
                clip-rule="evenodd"
                viewBox="0 0 32 40"
              >
                <path
                  d="m18.8 16 9.6-9.6a2 2 0 1 0-2.8-2.8L16 13.2 6.4 3.6a2 2 0 1 0-2.8 2.8l9.6 9.6-9.6 9.6a2 2 0 1 0 2.8 2.8l9.6-9.6 9.6 9.6a2 2 0 1 0 2.8-2.8L18.8 16Z"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <hr />
      <div class="bg-gray-100 mt-4 rounded-md">
        <p
          class="
            text-sm
            font-semibold
            leading-none
            whitespace-pre-line
            text-gray-800
            dark:text-gray-100
            p-4
          "
        >
          In a large flood event, how many people might be affected and would
          need evacuation?
        </p>
      </div>
      <div class="py-2">
        <div class="flex flex-row place-content-between">
          <div class="text-sm">Last updated</div>
          <div class="font-bold text-sm">
            <span>{{ dateDataText }}</span>
          </div>
        </div>
      </div>
      <hr />
    </header>
    <!-- End of Header -->

    <!-- Start of Search and Sort -->
    <div class="sticky grid grid-row">
      <div class="pt-2 pb-2 w-full">
        <div class="mt-1 flex flex-row place-content-between">
          <div class="w-auto h-full">
            <div class="relative">
              <div
                class="
                  absolute
                  inset-y-0
                  left-0
                  flex
                  items-center
                  pl-3
                  pointer-events-none
                "
              >
                <svg
                  class="w-5 h-5 text-gray-500 dark:text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </div>
              <input
                [(ngModel)]="searchValue"
                type="search"
                id="table-search"
                class="
                  bg-white
                  border border-gray-300
                  text-gray-900 text-sm
                  rounded-lg
                  focus:ring-blue-500 focus:border-blue-500
                  block
                  w-full
                  pl-10
                  p-2.5
                  dark:bg-gray-700
                  dark:border-gray-600
                  dark:placeholder-gray-400
                  dark:text-white
                  dark:focus:ring-blue-500
                  dark:focus:border-blue-500
                  disabled:cursor-not-allowed
                "
                placeholder="Search Location"
              />
            </div>
          </div>
          <div class="w-4"></div>
          <div class="w-auto h-full relative">
            <div
              class="absolute inset-y-0 left-0 flex pl-3 pointer-events-none"
            >
              <svg
                class="h-5 w-5 mt-2.5"
                viewBox="0 0 24 24"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                *ngIf="sortDirection === 'ascending'"
              >
                <path
                  d="M13 12H21M13 8H21M13 16H21M6 7V17M6 17L3 14M6 17L9 14"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <svg
                class="h-5 w-5 mt-2.5"
                viewBox="0 0 24 24"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                *ngIf="sortDirection === 'descending'"
              >
                <path
                  d="M13 12H21M13 8H21M13 16H21M6 7V17M6 7L3 10M6 7L9 10"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <button
              class="
                bg-white
                border border-gray-300
                text-gray-900 text-sm
                rounded-lg
                focus:ring-blue-500 focus:border-blue-500
                block
                pl-9
                p-2.5
              "
              type="button"
              (click)="showSortDropdown()"
            >
              {{
                sortField === 'perc_aff_medhigh'
                  ? 'Percentage'
                  : sortField === 'total_pop'
                  ? 'Population'
                  : 'Location'
              }}
            </button>
            <ul
              class="
                bg-white
                border border-gray-300
                text-gray-900 text-sm
                rounded-lg
                absolute
                w-full
              "
              *ngIf="showSort"
            >
              <button
                class="h-auto w-full p-2.5 border-b border-gray-300 text-left"
                (click)="onHeaderColumnClick('perc_aff_medhigh')"
              >
                Percentage
              </button>
              <button
                class="h-auto w-full p-2.5 border-b border-gray-300 text-left"
                (click)="onHeaderColumnClick('total_pop')"
              >
                Population
              </button>
              <button
                class="h-auto w-full p-2.5 border-gray-300 text-left"
                (click)="onHeaderColumnClick('brgy')"
              >
                Location
              </button>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="pb-2" />
    <!-- End of Search and Sort -->

    <!-- Start of Forecast List -->
    <div
      class="grid-auto-rows grow align-top overflow-y-scroll"
      *ngIf="!errorMsg"
    >
      <div class="flex flex-col">
        <div
          class="
            bg-white
            border border-gray-300
            rounded-lg
            w-full
            h-auto
            px-4
            py-3
            my-1
            flex flex-row
            place-content-between
            overscroll-contain
          "
          *ngFor="
            let data of affectedData
              | sort: sortField:sortDirection
              | searchRiskAffected: searchValue
          "
        >
          <div class="text-left">
            <div class="font-bold text-base">
              {{ data.brgy }}
            </div>
            <div class="font-semibold text-sm">{{ data.muni }}</div>
            <div class="text-xs">{{ data.prov }}</div>
          </div>
          <div class="text-right">
            <div class="font-bold text-blue-500 text-sm">
              {{ data.perc_aff_medhigh }}% affected
            </div>
            <div class="font-semibold text-sm">
              {{ data.exposed_medhigh }} affected people
            </div>
            <div class="text-xs">out of {{ data.total_pop }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Forecast List-->

    <!-- Start of No Forecast -->
    <div
      class="
        bg-gray-300
        h-full
        rounded-lg
        flex flex-col
        grid-auto-rows
        grow
        overflow-y-hidden
      "
      *ngIf="errorMsg"
    >
      <div
        class="
          p-8
          flex
          items-center
          justify-center
          text-center
          align-middle
          text-base
          h-screen
        "
      >
        No forecast that meets pre-determined thresholds for large floods
      </div>
    </div>
    <!-- End of No Forecast -->

    <!-- Start of Footer-->
    <footer class="-mb-4 grid grid-row flex-shrink-0">
      <div class="flex flex-row py-2 place-content-center">
        <div class="relative">
          <div
            class="
              absolute
              inset-y-0
              left-0
              flex
              items-center
              pl-3
              pointer-events-none
            "
          >
            <svg
              width="14"
              height="8"
              viewBox="0 0 14 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.1665 4H12.8332"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M1.1665 4L4.49984 7.33333"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M1.1665 4.00002L4.49984 0.666687"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <button
            class="
              bg-white
              border border-gray-300
              text-gray-900 text-sm
              rounded-lg
              focus:ring-blue-500 focus:border-blue-500
              block
              right-0
              p-2
              pl-9
              w-18
              h-9
            "
            (click)="loadData(currentPage - 1)"
            [disabled]="currentPage === 1"
          >
            Prev
          </button>
        </div>
        <p class="text-xs text-center align-middle justify-center p-2 pt-2.5">
          {{ (currentPage - 1) * itemsPerPage + 1 }} -
          {{ currentPage * itemsPerPage }} of
          {{ totalDataCount }}
        </p>
        <div class="relative">
          <button
            class="
              bg-white
              border border-gray-300
              text-gray-900 text-sm
              rounded-lg
              focus:ring-blue-500 focus:border-blue-500
              block
              right-0
              p-2
              pr-9
              w-18
              h-9
            "
            (click)="loadData(currentPage + 1)"
            [disabled]="currentPage * itemsPerPage >= totalDataCount"
          >
            Next
          </button>
          <div
            class="
              absolute
              inset-y-0
              right-0
              flex
              items-center
              pr-3
              pointer-events-none
            "
          >
            <svg
              width="14"
              height="8"
              viewBox="0 0 14 8"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1.1665 4H12.8332"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9.5 7.33333L12.8333 4"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M9.5 0.666687L12.8333 4.00002"
                stroke="currentColor"
                stroke-width="1.25"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>
      </div>
      <hr />
      <div class="text-gray-700 pt-1 text-[8px] italic">
        Disclaimer: Calculation affected are for affected to Medium and High
        Hazard
      </div>
      <div class="flex flex-row place-content-between">
        <div>
          <div class="font-bold text-gray-900 text-base">
            Access Data Archive
          </div>
          <div class="-mt-2 text-gray-400 text-[8px]">
            Click link to download previous forecast data.
          </div>
        </div>
        <div class="relative">
          <div
            class="
              absolute
              inset-y-0
              left-0
              flex
              items-center
              pl-3
              -mt-3
              pointer-events-none
            "
          >
            <svg
              fill="#111827"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="16px"
              height="16px"
              viewBox="0 0 610.398 610.398"
              xml:space="preserve"
            >
              <g>
                <g>
                  <path
                    d="M159.567,0h-15.329c-1.956,0-3.811,0.411-5.608,0.995c-8.979,2.912-15.616,12.498-15.616,23.997v10.552v27.009v14.052
                  c0,2.611,0.435,5.078,1.066,7.44c2.702,10.146,10.653,17.552,20.158,17.552h15.329c11.724,0,21.224-11.188,21.224-24.992V62.553
                  V35.544V24.992C180.791,11.188,171.291,0,159.567,0z"
                  />
                  <path
                    d="M461.288,0h-15.329c-11.724,0-21.224,11.188-21.224,24.992v10.552v27.009v14.052c0,13.804,9.5,24.992,21.224,24.992
                  h15.329c11.724,0,21.224-11.188,21.224-24.992V62.553V35.544V24.992C482.507,11.188,473.007,0,461.288,0z"
                  />
                  <path
                    d="M539.586,62.553h-37.954v14.052c0,24.327-18.102,44.117-40.349,44.117h-15.329c-22.247,0-40.349-19.79-40.349-44.117
                  V62.553H199.916v14.052c0,24.327-18.102,44.117-40.349,44.117h-15.329c-22.248,0-40.349-19.79-40.349-44.117V62.553H70.818
                  c-21.066,0-38.15,16.017-38.15,35.764v476.318c0,19.784,17.083,35.764,38.15,35.764h468.763c21.085,0,38.149-15.984,38.149-35.764
                  V98.322C577.735,78.575,560.671,62.553,539.586,62.553z M527.757,557.9l-446.502-0.172V173.717h446.502V557.9z"
                  />
                  <path
                    d="M353.017,266.258h117.428c10.193,0,18.437-10.179,18.437-22.759s-8.248-22.759-18.437-22.759H353.017
                  c-10.193,0-18.437,10.179-18.437,22.759C334.58,256.074,342.823,266.258,353.017,266.258z"
                  />
                  <path
                    d="M353.017,348.467h117.428c10.193,0,18.437-10.179,18.437-22.759c0-12.579-8.248-22.758-18.437-22.758H353.017
                  c-10.193,0-18.437,10.179-18.437,22.758C334.58,338.288,342.823,348.467,353.017,348.467z"
                  />
                  <path
                    d="M353.017,430.676h117.428c10.193,0,18.437-10.18,18.437-22.759s-8.248-22.759-18.437-22.759H353.017
                  c-10.193,0-18.437,10.18-18.437,22.759S342.823,430.676,353.017,430.676z"
                  />
                  <path
                    d="M353.017,512.89h117.428c10.193,0,18.437-10.18,18.437-22.759c0-12.58-8.248-22.759-18.437-22.759H353.017
                  c-10.193,0-18.437,10.179-18.437,22.759C334.58,502.71,342.823,512.89,353.017,512.89z"
                  />
                  <path
                    d="M145.032,266.258H262.46c10.193,0,18.436-10.179,18.436-22.759s-8.248-22.759-18.436-22.759H145.032
                  c-10.194,0-18.437,10.179-18.437,22.759C126.596,256.074,134.838,266.258,145.032,266.258z"
                  />
                  <path
                    d="M145.032,348.467H262.46c10.193,0,18.436-10.179,18.436-22.759c0-12.579-8.248-22.758-18.436-22.758H145.032
                  c-10.194,0-18.437,10.179-18.437,22.758C126.596,338.288,134.838,348.467,145.032,348.467z"
                  />
                  <path
                    d="M145.032,430.676H262.46c10.193,0,18.436-10.18,18.436-22.759s-8.248-22.759-18.436-22.759H145.032
                  c-10.194,0-18.437,10.18-18.437,22.759S134.838,430.676,145.032,430.676z"
                  />
                  <path
                    d="M145.032,512.89H262.46c10.193,0,18.436-10.18,18.436-22.759c0-12.58-8.248-22.759-18.436-22.759H145.032
                  c-10.194,0-18.437,10.179-18.437,22.759C126.596,502.71,134.838,512.89,145.032,512.89z"
                  />
                </g>
              </g>
            </svg>
          </div>
          <button
            class="
              bg-white
              border border-gray-300
              text-gray-900 text-sm
              rounded-lg
              focus:ring-blue-500 focus:border-blue-500
              block
              right-0
              p-2
              pl-8
              w-auto
            "
          >
            Select Date
          </button>
        </div>
      </div>
    </footer>
    <!-- End of Footer-->
  </div>
</div>
