<div
  [ngClass]="'z-50 fixed w-full flex justify-center inset-0 p-10 '"
  *ngIf="riskModal"
>
  <!-- *ngIf="riskModal" -->
  <div class="w-full h-full opacity-80 bg-black z-0 absolute inset-0"></div>
  <!-- modal -->
  <div
    class="
      max-h-full
      overflow-hidden
      border-none
      shadow-lg
      relative
      flex flex-col
      w-full
      pointer-events-auto
      bg-white bg-clip-padding
      rounded-md
      outline-none
      text-current
    "
  >
    <div
      class="
        flex flex-shrink-0
        items-center
        justify-between
        p-4
        border-b border-gray-200
        rounded-t-md
      "
    >
      <h5
        class="text-2xl font-medium leading-normal text-gray-800"
        id="exampleModalScrollableLabel"
      >
        In the event of a Flood 100-year return period, how many people might be
        affected and need evacuation in the Philippines?
      </h5>
      <button
        type="button"
        class="
          btn-close
          box-content
          w-4
          h-4
          p-1
          text-black
          border-2
          font-bold
          rounded-none
          opacity-50
          focus:shadow-none focus:outline-none focus:opacity-100
          hover:text-black hover:opacity-75 hover:no-underline
        "
        data-bs-dismiss="modal"
        (click)="closeModal()"
        aria-label="Close"
      >
        X
      </button>
    </div>
    <div class="flex-auto overflow-y-auto relative p-4">
      <!--  -->
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table
          class="w-full text-lg text-left text-gray-500 dark:text-gray-400"
        >
          <thead
            class="
              text-lg
              whitespace-nowrap
              text-gray-700
              uppercase
              bg-blue-200
              dark:bg-gray-700 dark:text-gray-400
            "
          >
            <tr>
              <th scope="col" class="px-6 py-3">Province</th>
              <th scope="col" class="px-6 py-3">Total Population</th>
              <th scope="col" class="px-6 py-3">Total Affected Population</th>
              <th scope="col" class="px-6 py-3">Exposed to Med-High</th>
              <th scope="col" class="px-6 py-3">
                Percentage of Exposed to Med-High
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let data of affectedData"
              class="
                bg-white
                uppercase
                border-b
                dark:bg-gray-800 dark:border-gray-700
                hover:bg-gray-50
                dark:hover:bg-gray-600
              "
            >
              <td class="px-6 py-4">
                {{ data.province }}
              </td>
              <td class="px-6 py-4">
                {{ data.total_population }}
              </td>
              <td class="px-6 py-4">
                {{ data.total_affected_population }}
              </td>
              <td class="px-6 py-4">
                {{ data.medium_high }}
              </td>
              <td class="px-6 py-4">
                {{ data.percentage_of_affected_medium_high }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--  -->
    </div>
    <div
      class="
        flex flex-shrink-0 flex-wrap
        items-center
        justify-end
        p-4
        border-t border-gray-200
        rounded-b-md
      "
    >
      <button
        type="button"
        class="
          inline-block
          px-6
          py-2.5
          bg-purple-600
          text-white
          font-medium
          text-xs
          leading-tight
          uppercase
          rounded
          shadow-md
          hover:bg-purple-700 hover:shadow-lg
          focus:bg-purple-700 focus:shadow-lg focus:outline-none focus:ring-0
          active:bg-purple-800 active:shadow-lg
          transition
          duration-150
          ease-in-out
        "
        data-bs-dismiss="modal"
        (click)="closeModal()"
      >
        Close
      </button>
      <button
        type="button"
        class="
          inline-block
          px-6
          py-2.5
          bg-blue-600
          text-white
          font-medium
          text-xs
          leading-tight
          uppercase
          rounded
          shadow-md
          hover:bg-blue-700 hover:shadow-lg
          focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0
          active:bg-blue-800 active:shadow-lg
          transition
          duration-150
          ease-in-out
          ml-1
        "
        (click)="hideModal()"
      >
        Hide Modal
      </button>
    </div>
  </div>
</div>
