<div class="flex flex-wrap gap-2 mb-4">
  <button
    *ngFor="let day of forecastDays"
    type="button"
    class="px-1 py-1 rounded-md border text-sm focus:outline-none"
    [ngClass]="
      (selectedForecastDay$ | async) === day.value
        ? 'bg-primary text-white border-primary'
        : 'bg-white text-gray-800 border-gray-400'
    "
    (click)="selectForecastDay(day.value)"
  >
    {{ day.label }}
  </button>
</div>
<div class="pl-0 mb-4">
  <noah-slider
    label="Particle Count"
    [initialValue]="initialParticleCountValue"
    [min]="100"
    [max]="1500"
    [step]="50"
    (valueChange)="changeParticleCount($event)"
  ></noah-slider>
</div>
<div class="pl-0 mb-4">
  <noah-slider
    label="Speed"
    [initialValue]="initialSpeedValue"
    [min]="0.05"
    [max]="2"
    [step]="0.05"
    (valueChange)="changeSpeed($event)"
  ></noah-slider>
</div>
