.humidity {
  --color: #a405b0;
  background-color: #a405b0;
  &,
  input {
    border-radius: 100% !important;
    --border-color: #9ca3af;
  }
}

.pressure {
  --color: #718a01;
  background-color: #718a01;
  &,
  input {
    border-radius: 100% !important;
    --border-color: #9ca3af;
  }
}

.sensor4 {
  --color: #0dc642;
  background-color: #0dc642;
  &,
  input {
    border-radius: 100% !important;
    --border-color: #9ca3af;
  }
}

.temperature {
  --color: #d85518;
  background-color: #d85518;
  &,
  input {
    border-radius: 100% !important;
    --border-color: #9ca3af;
  }
}
