<section class="mb-2">
  <p class="italic text-xs tracking-wide">
    <span class="font-bold">Source: </span>
    <a href="https://www.panahon.gov.ph/" class="text-primary" target="_blank">
      PANaHON (DOST-PAGASA)
    </a>
  </p>
</section>
<div
  class="left-0 bottom-0 md:text-base text-xs italic pl-4 ml-6 text-gray-400"
  *ngIf="noTyphoon$ | async"
>
  (No Active/Incoming Typhoon)
</div>
<div class="py-2 flex flex-col">
  <div class="text-xl font-semibold">Legend:</div>
  <img
    src="assets/images/typhoontrack-legend.png"
    alt="Typhoon Track Legend"
    class="ml-2 md:my-2 my-2 w-auto h-auto"
  />
</div>

<noah-weather-satellite
  *ngFor="let weatherSat of weatherSatellite"
  [name]="weatherSat"
  class="w-full pt-2"
>
</noah-weather-satellite>
