<div class="flex flex-col">
  <div class="text-xl font-semibold md:px-2 ml-2">Legend:</div>
  <img
    src="assets/images/typhoontrack-legend.png"
    alt="Typhoon Track Legend"
    class="md:my-4 mx-auto w-96 h-auto"
  />
  <div class="text-xl font-semibold md:mx-2 ml-2">Forecast:</div>
  <img
    src="assets/images/typhoontrack-forecast.png"
    alt="Typhoon Track Forecast"
    class="md:my-4 mx-auto w-96 h-auto"
  />
</div>

<noah-weather-satellite
  *ngFor="let weatherSat of weatherSatellite"
  [name]="weatherSat"
  class="w-full"
>
</noah-weather-satellite>
