<div class="relative">
  <button
    class="z-10 base-icon bg-white p-1 px-1.5 py-1.5 rounded text-gray-800"
    (click)="isOpenMenu = true"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7"
      />
    </svg>
  </button>
  <div
    class="
      z-10
      absolute
      rounded
      right-8
      mr-2
      top-0
      bg-white
      text-gray-800
      flex flex-col
      text-sm
      lg:text-base
    "
    [class.hidden]="!isOpenMenu"
  >
    <button
      class="p-2 rounded-t hover:bg-gray-100"
      [class.bg-gray-100]="selectedStyle === 'terrain'"
      (click)="changeStyle('terrain')"
    >
      Terrain
    </button>
    <button
      class="p-2 rounded-b hover:bg-gray-100"
      [class.bg-gray-100]="selectedStyle === 'satellite'"
      (click)="changeStyle('satellite')"
    >
      Satellite
    </button>
  </div>

  <div
    class="fixed bg-transparent h-screen w-screen top-0 left-0"
    (click)="isOpenMenu = false"
    [class.hidden]="!isOpenMenu"
  ></div>
</div>
