<!-- SEARCH CONTAINER -->
<div class="relative select">
  <div class="pt-0">
    <div
      class="
        relative
        border-solid border-gray-400 border
        bg-white
        flex
        justify-center
        items-center
        rounded-full
        z-10
      "
    >
      <div class="pl-3">
        <img
          class="text-primary h-10 w-10"
          src="assets/icons/pin-location.svg"
        />
      </div>
      <input
        type="search"
        [formControl]="searchTermCtrl"
        (focus)="openDropdown()"
        (input)="openDropdown()"
        (keydown)="keydownAction($event)"
        placeholder="Search Location"
        autocomplete="off"
        class="
          rounded-l-full
          w-full
          py-2
          px-2
          text-gray-700
          bg-transparent
          leading-tight
          focus:outline-none
        "
      />
      <button
        type="submit"
        class="
          rounded-full
          bg-primary
          text-white
          p-2
          m-1
          w-auto
          h-auto
          hover:bg-blue-400
          focus:outline-none
          flex
          items-center
          justify-center
        "
      >
        <span class="w-auto flex justify-end items-center">
          <img class="h-4 w-6" src="assets/icons/search-location.svg" />
        </span>
      </button>
    </div>
  </div>

  <!-- DROPDOWN -->
  <div
    class="
      z-40
      absolute
      mt-2
      py-2
      w-full
      bg-white
      shadow-xl
      rounded-md
      transition
      duration-300
      ease-in-out
    "
    *ngIf="isDropdownOpen"
  >
    <ng-container *ngIf="loading; else dropdownList">
      <div tabindex="0">
        <ul class="list-none">
          <li
            class="
              block
              w-full
              px-4
              py-4
              font-bold
              text-sm text-gray-700
              transition
              duration-300
              ease-in-out
              focus:outline-none
              group
              text-center
            "
          >
            Loading...
          </li>
        </ul>
      </div>
    </ng-container>
    <ng-template #dropdownList>
      <div
        #locationOptions
        tabindex="0"
        (keydown)="keydownAction($event, 'get-location')"
        (click)="userFixedLocation()"
        class="
          block
          w-full
          px-4
          py-4
          font-bold
          text-sm
          cursor-pointer
          text-left text-gray-700
          hover:bg-gray-100 hover:text-gray-900
          focus:bg-gray-100 focus:text-gray-900
          transition
          duration-300
          ease-in-out
          focus:outline-none
          group
        "
      >
        <img
          class="w-6 pr-2 inline-block"
          src="assets/icons/current-location.svg"
        />
        <span>Your Current Location</span>
      </div>

      <ng-container *ngIf="isSearchQueryEmpty; else suggestionList">
        <ng-container *ngIf="history$ | async as history">
          <div
            #locationOptions
            tabindex="0"
            role="button"
            data-testid="search-history-item"
            (click)="pickHistoryEntry(entry)"
            (keydown)="keydownAction($event, 'select-history', entry)"
            *ngFor="let entry of history"
            class="
              flex
              items-center
              w-full
              px-4
              py-2
              cursor-pointer
              text-left
              hover:bg-gray-100 hover:text-gray-900
              transition
              duration-300
              ease-in-out
              focus:outline-none focus:bg-gray-100 focus:text-gray-900
              group
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="flex-none mr-2 h-6 w-6 text-gray-900"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              aria-hidden="true"
            >
              <path d="M3 12a9 9 0 109-9 9.75 9.75 0 00-6.74 2.74L3 8" />
              <path d="M3 3v5h5M12 7v5l3 2" />
            </svg>
            <div class="min-w-0 flex-1">
              <p class="font-bold text-gray-700 text-sm truncate">
                {{ entry.name }}
              </p>
              <p
                *ngIf="entry.address"
                class="
                  text-xs text-gray-700
                  group-hover:text-gray-600
                  italic
                  truncate
                "
              >
                {{ entry.address }}
              </p>
            </div>
            <button
              type="button"
              class="
                flex-none
                ml-2
                p-2
                text-gray-700
                hover:text-gray-900
                focus:outline-none focus:ring-2 focus:ring-primary
                rounded-full
              "
              data-testid="remove-search-history-item"
              [attr.aria-label]="
                'Remove ' + entry.name + ' from search history'
              "
              (keydown)="$event.stopPropagation()"
              (click)="removeHistoryEntry($event, entry.mapboxId)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-4 w-4"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                />
              </svg>
            </button>
          </div>
        </ng-container>
      </ng-container>

      <ng-template #suggestionList>
        <div
          #locationOptions
          tabindex="0"
          (click)="pickPlace(place)"
          (keydown)="keydownAction($event, 'select-option', place)"
          *ngFor="let place of places$ | async"
          class="
            flex-row
            block
            w-full
            px-4
            py-0
            cursor-pointer
            text-left
            hover:bg-gray-100 hover:text-gray-900
            transition
            duration-300
            ease-in-out
            focus:outline-none focus:bg-gray-100 focus:text-gray-900
            group
            overflow:
            hidden;
            text-overflow:
            ellipsis;
            white-space:
            wrap;
          "
        >
          <div class="py-2 max-w-xl w-full flex flex-row">
            <div class="md:mt-0 items-center flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="inline-block pr-2 text-high h-8 w-6"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <button class="flex-1 text-left">
              <p class="font-bold text-gray-700 text-sm">
                {{ place.name || place.text }}
              </p>
              <p class="text-xs text-gray-700 group-hover:text-gray-600 italic">
                {{
                  place.full_address ||
                    place.place_formatted ||
                    place.place_name
                }}
              </p>
            </button>
          </div>
        </div>
      </ng-template>
    </ng-template>
  </div>

  <!-- BACKDROP -->
  <div
    (click)="isDropdownOpen = false"
    *ngIf="isDropdownOpen"
    class="fixed h-full bg-black opacity-30 top-0 right-0 bottom-0 left-0"
  ></div>
</div>
